Repository equinor/fusion-framework, pull requests merged in 2023-05, with the labels that each got.

#845 fix(module-navigation): prepend basename
  packages/modules/navigation/package.json
  packages/modules/navigation/src/provider.ts
  yarn.lock
Labels: 🐞 bug, ⛓️ dependencies

#852 chore: update ag-grid version
  packages/modules/ag-grid/package.json
Labels: ⛓️ dependencies

#858 fix(module-context): execute all setting of context
  packages/modules/context/src/ContextProvider.ts
Labels: 🐞 bug, 🚀 feature, ✨ improvement

#860 fix(module-context): skip internal context queue when settting contex…
  packages/modules/context/src/ContextProvider.ts
Labels: 🐞 bug

#862 docs(guid): update docs for legacy router
  vue-press/src/guide/app/legacy.md
Labels: 📚 documentation

#864 docs: update guide
  README.md
  vue-press/src/.vuepress/sidebar.ts
  vue-press/src/guide/app/README.md
  vue-press/src/guide/app/authentication.md
  vue-press/src/guide/app/bookmark.md
  vue-press/src/guide/app/cli.md
  vue-press/src/guide/app/cookbook.png
  vue-press/src/guide/app/cookbooks.md
  vue-press/src/guide/app/faq.png
  vue-press/src/guide/app/getting-started.md
  vue-press/src/guide/app/legacy.md
  vue-press/src/guide/app/legacy.png
  vue-press/src/guide/app/tips_and_tricks.md
  vue-press/src/modules/README.md
  vue-press/src/modules/bookmark/README.md
Labels: 📚 documentation

#885 fix(react-module-bookmark): check if bookmark provider
  packages/react/modules/bookmark/package.json
  packages/react/modules/bookmark/src/types.ts
  packages/react/modules/bookmark/src/useBookmark.ts
Labels: 🐞 bug, 🏗️ framework

#898 Feat(module-context-add) option for connection to parent context
  .changeset/lucky-years-flow.md
  .changeset/shaggy-insects-applaud.md
  packages/modules/context/src/ContextConfigBuilder.ts
  packages/modules/context/src/configurator.ts
  packages/modules/context/src/module.ts
  packages/react/modules/context/src/index.ts
Labels: 🏗️ framework, ✨ improvement

#901 feat: add contribution
  .github/PULL_REQUEST_TEMPLATE/GENERAL.md
  .node-version
  CONTRIBUTING.md
  README.md
  contributing/changeset.md
  contributing/cookbooks.md
  contributing/development.md
  contributing/self-review.md
  cookbooks/README.md
  package.json
Labels: 📚 documentation, 🚀 feature, 🚧 chore, 👨🏻‍🍳 cookbooks

#902 Feat/module/add semver
  .changeset/afraid-jokes-trade.md
  .changeset/smooth-chicken-promise.md
  packages/modules/module/package.json
  packages/modules/module/src/configurator.ts
  packages/modules/module/src/lib/provider/BaseModuleProvider.ts
  packages/modules/module/src/lib/provider/IModuleProvider.ts
  packages/modules/module/src/lib/provider/index.ts
  packages/modules/module/src/lib/semantic-version.ts
  packages/modules/module/src/types.ts
  yarn.lock
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 🧬 Modules

#905 Chore/dedupe packages
  .changeset/stale-pigs-leave.md
  cookbooks/app-react-bookmark-advanced/src/App.tsx
  cookbooks/app-react/src/App.tsx
  package.json
  packages/app/package.json
  packages/app/src/configure-modules.ts
  packages/cli/package.json
  packages/framework/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/app/src/types.ts
  packages/modules/context/src/configurator.ts
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/service-discovery/package.json
  packages/modules/telemetry/package.json
  packages/modules/widget/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/bookmark/src/components/row/MoreMenu.tsx
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/legacy-interopt/src/components/create-legacy-context-component.tsx
  packages/react/legacy-interopt/src/create-legacy-render.tsx
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
  packages/widget/package.json
  packages/widget/src/configure-widget-modules.ts
  yarn.lock
Labels: 💾 CLI, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#907 update navigation provider provider
  .changeset/curvy-students-serve.md
  .changeset/quick-spiders-type.md
  .changeset/spicy-dolphins-call.md
  .changeset/violet-needles-join.md
  .eslintignore
  .gitignore
  packages/modules/module/src/index.ts
  packages/modules/module/src/lib/index.ts
  packages/modules/module/src/lib/provider/BaseModuleProvider.ts
  packages/modules/navigation/package.json
  packages/modules/navigation/src/index.ts
  packages/modules/navigation/src/lib/index.ts
  packages/modules/navigation/src/lib/provider/INavigationProvider.ts
  packages/modules/navigation/src/lib/provider/NavigationProvider.ts
  packages/modules/navigation/src/lib/provider/index.ts
  packages/modules/navigation/src/module.ts
Labels: 🐞 bug, 🚀 feature, 🧨 breaking changes, 🧬 Modules

#909 chore: update auto labeling
  .changeset/clean-bats-heal.md
  .github/labeler.yml
Labels: 🚧 chore

#910 fix(cli): remove requirement of leading slash in main attr
  .changeset/ninety-lizards-sin.md
  packages/cli/src/scripts/app-config.ts
Labels: 🐞 bug, 💾 CLI

#882 feat(module): allow multilevel config
  .changeset/funny-garlics-complain.md
  packages/modules/module/src/BaseConfigBuilder.ts
  packages/modules/navigation/src/index.ts
Labels: 🚀 feature, 🏗️ framework, ✨ improvement, 🧬 Modules

#913 Update module provider behavior
  .changeset/happy-eyes-arrive.md
  .changeset/old-planets-hear.md
  packages/modules/module/package.json
  packages/modules/module/src/lib/index.ts
  packages/modules/module/src/lib/provider/BaseModuleProvider.ts
  packages/modules/module/src/lib/provider/index.ts
  packages/modules/module/tsconfig.json
  packages/modules/navigation/src/lib/provider/NavigationProvider.ts
Labels: 🐞 bug, 🧬 Modules
