Repository equinor/fusion-framework, pull requests merged in 2023-10, with the labels that each got.

#1375 build: update person deps
  .changeset/nine-otters-film.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: ⛓️ dependencies, 💾 CLI, 👨🏻‍🍳 cookbooks

#1401 chore(github): add projects to issues template
  .github/ISSUE_TEMPLATE/bug-report---framework.md
  .github/ISSUE_TEMPLATE/bug-report---implementation.md
  .github/ISSUE_TEMPLATE/bug-report--cli.md
  .github/ISSUE_TEMPLATE/documentation.md
  .github/ISSUE_TEMPLATE/feature_request.md
Labels: 🚧 chore

#1410 fix(query): enhance task queue
  .changeset/shaggy-singers-relate.md
  packages/utils/query/src/Query.ts
Labels: 🐞 bug, 🛠️ utils

#1453 fix(navigation): prevent duplicate push actions
  .changeset/healthy-horses-happen.md
  cookbooks/app-react-router/src/routes.tsx
  packages/modules/navigation/src/configurator.ts
  packages/modules/navigation/src/module.ts
  packages/modules/navigation/src/navigator.ts
  packages/react/components/people-resolver/src/PeopleResolver.tsx
Labels: 🐞 bug, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1462 fix(cli): silent bug for external asset optimizer
  .changeset/big-dots-sniff.md
  packages/cli/src/lib/vite-logger.ts
Labels: 🐞 bug, 💾 CLI

#1464 fix(navigation): double navigation
  .changeset/lovely-impalas-help.md
  packages/modules/navigation/src/navigator.ts
Labels: 🐞 bug, 🧬 Modules

#1467 fix(module-navigation): check previous state
  .changeset/cool-countries-doubt.md
  packages/modules/navigation/src/configurator.ts
  packages/modules/navigation/src/module.ts
  packages/modules/navigation/src/navigator.ts
Labels: 🐞 bug, 🧬 Modules

#1465 fix(cli): use provided config path when developing
  .changeset/small-buckets-draw.md
  packages/cli/src/bin/create-dev-serve.ts
Labels: 🐞 bug, 💾 CLI

#1475 fix(cli): log loop
  .changeset/swift-bats-drop.md
  packages/cli/src/lib/vite-logger.ts
Labels: 🐞 bug, 💾 CLI
