Repository equinor/fusion-framework, pull requests merged in 2023-06, with the labels that each got.

#924 fix(module): add config builder callback args to process config method
  .changeset/rotten-walls-reflect.md
  packages/modules/module/src/BaseConfigBuilder.ts
Labels: 🐞 bug, ✨ improvement, 🧬 Modules

#927 Issue/926
  .changeset/healthy-kiwis-thank.md
  .changeset/stale-chairs-explain.md
  .changeset/sweet-nails-help.md
  packages/modules/app/src/AppModuleProvider.ts
  packages/modules/app/src/app/App.ts
  packages/modules/app/src/app/actions.ts
  packages/modules/app/src/app/create-reducer.ts
  packages/modules/app/src/app/flows.ts
  packages/modules/app/src/app/index.ts
  packages/modules/app/src/index.ts
  packages/modules/app/src/types.ts
  packages/react/framework/src/app/index.ts
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
Labels: 🐞 bug, 🚀 feature, 🧬 Modules, 👾 React

#929 fix(legacy-iteropt): prevent legacy death spiral
  .changeset/spicy-days-nail.md
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
Labels: 🐞 bug, 👾 React, ☠️ Legacy

#935 fix(react-legacy-interopt): fix legacy render
  .changeset/fluffy-turtles-live.md
  packages/react/legacy-interopt/src/create-legacy-render.tsx
Labels: 🐞 bug, 🧨 breaking changes, 👾 React

#937 Update release.yml
  .github/workflows/release.yml
Labels: 🚧 chore

#934 expose navigation hooks for `@equinor/fusion-framework-react-app`
  .changeset/flat-bulldogs-return.md
  .changeset/light-comics-bow.md
  .changeset/long-bottles-march.md
  cookbooks/app-react-router/src/Router.tsx
  packages/react/app/package.json
  packages/react/app/src/navigation/index.ts
  packages/react/app/src/navigation/useNavigationModule.ts
  packages/react/app/src/navigation/useRouter.ts
  packages/react/app/src/useAppModule.ts
  packages/react/app/tsconfig.json
Labels: 📚 documentation, 🚀 feature, 🧨 breaking changes, 👨🏻‍🍳 cookbooks, 👾 React

#943 Chore: refactor and update
  .changeset/calm-turtles-shout.md
  .changeset/cyan-lions-smell.md
  .changeset/rotten-mangos-attend.md
  .changeset/shaggy-berries-invite.md
  .changeset/sharp-cameras-help.md
  .changeset/sixty-news-beam.md
  .changeset/sixty-seahorses-swim.md
  .github/workflows/lint.yml
  .github/workflows/release.yml
  .github/workflows/teams-pr.yml
  CONTRIBUTING.md
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  package.json
  packages/modules/navigation/package.json
  packages/react/framework/src/create-framework-provider.tsx
  packages/utils/observable/src/react/useObservableRef.ts
  packages/utils/query/package.json
  yarn.lock
Labels: 📚 documentation, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React, 🤞🏻 Ready for review

#946 Build/update typescript to 5
  .changeset/fast-islands-fix.md
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  node16.Dockerfile
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/framework/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/context/package.json
  packages/modules/event/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/service-discovery/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/telemetry/package.json
  packages/modules/widget/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
  packages/widget/package.json
  yarn.lock
Labels: 💾 CLI, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#950 fix: update generate version for packages
  .changeset/flat-paws-glow.md
  .gitignore
  package.json
  packages/modules/navigation/package.json
  packages/modules/navigation/src/module.ts
  yarn.lock
Labels: 🐞 bug, 🧬 Modules

#955 fix(cookbooks): remove leading `/` in package's main prop
  .changeset/perfect-shoes-fry.md
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
Labels: 🐞 bug, 👨🏻‍🍳 cookbooks

#958 build: fix missing references
  .changeset/eight-poems-mate.md
  packages/react/components/bookmark/package.json
  packages/react/components/bookmark/src/components/BookmarkProvider.tsx
  packages/react/components/bookmark/src/components/create-bookmark/CreateBookmark.tsx
  packages/react/components/bookmark/src/components/edit-bookmark/EditBookmark.tsx
  packages/react/components/bookmark/src/components/sectionList/SectionList.tsx
  packages/react/components/bookmark/tsconfig.json
Labels: 🐞 bug, ⛓️ dependencies, 🚧 chore, 👾 React, 🤞🏻 Ready for review

#959 create hook which return ContextProvider for scoped app
  .changeset/gorgeous-buckets-draw.md
  packages/react/app/src/context/index.ts
  packages/react/app/src/context/useContextProvider.ts
  packages/react/app/src/context/useCurrentContext.ts
Labels: 🚀 feature, 🏗️ framework, 👾 React, 🤞🏻 Ready for review

#962 issues with legacy current app manifest
  .changeset/grumpy-lies-hear.md
  .changeset/perfect-rats-mate.md
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
  packages/react/legacy-interopt/src/create-legacy-render.tsx
Labels: 🐞 bug, 👾 React, ☠️ Legacy, 🤞🏻 Ready for review
