Repository equinor/fusion-framework, pull requests merged in 2023-08, with the labels that each got.

#1093 feat(app): allow configuration of service discovery http client
  .changeset/long-walls-vanish.md
  packages/app/src/AppConfigurator.ts
Labels: 🚀 feature

#1113 build: replace lerna and nx with turbo
  .github/workflows/lint.yml
  .github/workflows/release.yml
  jest.config.js
  lerna.json
  nx.json
  package.json
  pnpm-lock.yaml
  turbo.json
Labels: 🚧 chore

#1114 chore: add clean-up workflow
  .github/workflows/cache-cleanup.yml
  .github/workflows/cache-prime.yml
  .github/workflows/release.yml
Labels: 🚧 chore

#1136 chore: refactor workflows
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/actions/clear-cache/action.yml
  .github/workflows/actions/clear-cache/clear-cache.sh
  .github/workflows/actions/config-git-user/action.yml
  .github/workflows/actions/eslint/action.yml
  .github/workflows/actions/node-setup/action.yml
  .github/workflows/cache-cleanup.yml
  .github/workflows/cache-prime.yml
  .github/workflows/ci.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/dependabot.yml
  .github/workflows/generate-docs.yml
  .github/workflows/lint.yml
  .github/workflows/maintain-cache.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr-labels.yml
  .github/workflows/pr-teams.yml
  .github/workflows/pr.yml
  .github/workflows/release.yml
Labels: 🚧 chore

#1137 chore: update workflows
  .github/workflows/actions/config-git-user/action.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  .github/workflows/generate-docs.yml
  .github/workflows/maintain-cache.yml
  .github/workflows/pr-cleanup.yml
  .github/workflows/pr.yml
Labels: 🚧 chore

#1139 chore: fix action gh token
  .github/workflows/actions/clear-cache/action.yml
Labels: 🚧 chore

#1140 chore: chore/action-clear-cache-plugin
  .github/workflows/actions/clear-cache/action.yml
  .github/workflows/actions/clear-cache/clear-cache.sh
Labels: 🚧 chore

#1141 Chore/allow manual cache delete
  .github/workflows/actions/clear-cache/action.yml
  .github/workflows/actions/clear-cache/clear-cache.sh
  .github/workflows/cache.yml
  .github/workflows/ci-completed.yml
  .github/workflows/dependabot.yml
Labels: 🚧 chore

#1142 feat: add review-dog
  .github/workflows/actions/build-packages/action.yml
  .github/workflows/code-quality.yml
  .github/workflows/pr-teams.yml
  .github/workflows/pr.yml
  .github/workflows/ready-for-review.yml
  .gitignore
  .reviewdog.yml
  ideas/gg.sh
  package.json
  pnpm-lock.yaml
  process-turbo-build-log.cjs
Labels: 🚀 feature, 🚧 chore, 🤞🏻 Ready for review

#1099 Feat(observable): update selector hooks
  .changeset/brave-gorillas-switch.md
  .changeset/early-forks-add.md
  .changeset/forty-carrots-turn.md
  .changeset/modern-ducks-fly.md
  .github/workflows/code-quality-report.yml
  .github/workflows/code-quality.yml
  .gitignore
  package.json
  packages/utils/observable/jest.config.js
  packages/utils/observable/package.json
  packages/utils/observable/src/operators/index.ts
  packages/utils/observable/src/operators/map-prop.ts
  packages/utils/observable/src/react/useObservableInput.ts
  packages/utils/observable/src/react/useObservableSelector.ts
  packages/utils/observable/src/react/useObservableSelectorState.ts
  packages/utils/observable/src/react/useObservableState.ts
  packages/utils/observable/src/types/actions.ts
  packages/utils/observable/src/types/index.ts
  packages/utils/observable/src/types/ts-helpers.ts
  packages/utils/observable/tests/operators/map-prop.test.ts
  packages/utils/observable/tests/react/useObservableSelector.test.ts
  packages/utils/observable/tests/react/useObservableState.test.ts
  packages/utils/observable/tsconfig.json
  packages/utils/observable/tsconfig.test.json
  packages/utils/observable/vitest.config.ts
  pnpm-lock.yaml
  vitest.config.ci.ts
  vitest.config.ts
  vitest.workspace.ts
Labels: 🐞 bug, 🚀 feature, 🛠️ utils, 🚧 chore

#1149 chore: polish code report
  .github/workflows/code-quality.yml
  .github/workflows/pr-ready-for-review.yml
  .github/workflows/pr-report.yml
  .github/workflows/pr.yml
  package.json
  vitest-report.json
  vitest.config.report.ts
Labels: 🚧 chore

#1150 test report
  .github/workflows/pr-report.yml
  .github/workflows/pr.yml
  .gitignore
  package.json
  pnpm-lock.yaml
  vitest-report.json
  vitest.config.report.ts
  vitest.config.ts
Labels: 🚧 chore, 🤞🏻 Ready for review

#1163 fix(module-http): add accept headers to http client
  .changeset/tough-plums-speak.md
  packages/modules/http/src/lib/client/client.ts
Labels: 🐞 bug, 🧬 Modules, 🤞🏻 Ready for review

#1164 test
  .github/workflows/pr-ready-for-review.yml
  .github/workflows/pr-review-dismissed.yml
  .github/workflows/pr.yml
Labels: 🚀 feature, 🚧 chore

#1173 Fix/cli/remove emotion
  .changeset/clean-sloths-burn.md
  .changeset/stupid-foxes-live.md
  .github/workflows/actions/node-setup/action.yml
  packages/cli/package.json
  packages/cli/src/dev-portal/AppLoader.tsx
  packages/cli/src/dev-portal/ContextSelector.tsx
  packages/cli/src/dev-portal/ErrorViewer.tsx
  packages/cli/src/dev-portal/FusionLogo.tsx
  packages/cli/src/dev-portal/Header.tsx
  packages/cli/src/dev-portal/Router.tsx
  packages/cli/src/dev-portal/index.html
  packages/cli/src/dev-portal/main.tsx
  packages/react/components/bookmark/src/components/edit-bookmark/EditBookmark.tsx
  pnpm-lock.yaml
Labels: 🐞 bug, 🚀 feature, 💾 CLI, 🚧 chore, 👾 React

#1184 fix(cli): fix bin resolve of cli
  .changeset/mean-steaks-exercise.md
  .npmrc
  package.json
  packages/cli/.gitignore
  packages/cli/.npmignore
  packages/cli/bin/cli.mjs
  packages/cli/package.json
  packages/cli/tsconfig.json
  packages/cli/vite.config.ts
Labels: 🐞 bug, 💾 CLI

#1186 build: update react-dom to 18
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  packages/cli/package.json
  packages/react/app/package.json
  packages/react/framework/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1193 fix(query): fix first cache hit
  .changeset/unlucky-kiwis-change.md
  packages/utils/query/src/cache/create-reducer.ts
Labels: 🐞 bug, 🛠️ utils

#1213 Fix/observable/exporttype
  .changeset/nasty-news-report.md
  packages/react/legacy-interopt/src/components/LegacyFusionWrapper.tsx
  packages/utils/observable/package.json
Labels: 🐞 bug, 📚 documentation, 🛠️ utils, 🚧 chore, 👾 React

#1194 feat(cli): rewrite CLI
  .changeset/little-melons-complain.md
  .changeset/pretty-ears-walk.md
  .changeset/rich-files-carry.md
  .changeset/smooth-grapes-compare.md
  cookbooks/app-react/app.config.js
  cookbooks/app-react/app.config.ts
  cookbooks/app-react/app.manifest.ts
  cookbooks/app-react/test.json
  packages/cli/README.md
  packages/cli/bin/cli.mjs
  packages/cli/package.json
  packages/cli/src/bin/build-application.ts
  packages/cli/src/bin/bundle-application.ts
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/create-export-config.ts
  packages/cli/src/bin/create-export-manifest.ts
  packages/cli/src/bin/dev-portal/AppLoader.tsx
  packages/cli/src/bin/dev-portal/BookMarkSideSheet.tsx
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
  packages/cli/src/bin/dev-portal/EquinorLoader.tsx
  packages/cli/src/bin/dev-portal/ErrorViewer.tsx
  packages/cli/src/bin/dev-portal/FusionLogo.tsx
  packages/cli/src/bin/dev-portal/Header.tsx
  packages/cli/src/bin/dev-portal/Router.tsx
  packages/cli/src/bin/dev-portal/config.ts
  packages/cli/src/bin/dev-portal/index.html
  packages/cli/src/bin/dev-portal/main.tsx
  packages/cli/src/bin/dev-portal/usePersonResolver.ts
  packages/cli/src/bin/dev-proxy.ts
  packages/cli/src/bin/main.app.ts
  packages/cli/src/bin/main.ts
  packages/cli/src/bin/utils/execute-commant.ts
  packages/cli/src/bin/utils/format.ts
  packages/cli/src/bin/utils/load-app-config.ts
  packages/cli/src/bin/utils/load-manifest.ts
  packages/cli/src/bin/utils/load-package.ts
  packages/cli/src/bin/utils/load-vite-config.ts
  packages/cli/src/bin/utils/spinner.ts
  packages/cli/src/lib/app-config.ts
  packages/cli/src/lib/app-manifest.ts
  packages/cli/src/lib/app-package.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/utils/assert.ts
  packages/cli/src/lib/utils/config.ts
  packages/cli/src/lib/utils/expect.ts
  packages/cli/src/lib/utils/file-exists.ts
  packages/cli/src/lib/utils/types.ts
  packages/cli/src/lib/vite-config.ts
  packages/cli/src/lib/vite-logger.ts
  packages/cli/src/scripts/app-config.ts
  packages/cli/src/scripts/create-config.ts
  packages/cli/src/scripts/main.ts
  packages/cli/src/scripts/serve.ts
  packages/cli/tsconfig.json
  packages/cli/vite.config.dev.ts
  packages/cli/vite.config.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI, 👨🏻‍🍳 cookbooks
