Repository equinor/fusion-framework, pull requests merged in 2023-07, with the labels that each got.

#1001 fix: corrected the font URL
  vue-press/src/.vuepress/config.ts
Labels: 🐞 bug

#1055 feat(cli): allow providing custom configuration
  .changeset/heavy-rivers-build.md
  packages/cli/src/scripts/create-config.ts
  packages/cli/src/scripts/main.ts
  vue-press/src/guide/app/cli.md
Labels: 📚 documentation, 🚀 feature, 💾 CLI

#1058 Update dependency: @remix-run/router@^1.7.2
  .changeset/purple-bears-burn.md
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-router/package.json
  packages/modules/navigation/package.json
  yarn.lock
Labels: 👨🏻‍🍳 cookbooks, 🧬 Modules

#1060 chore: update ag-grid to ~30.0
  .changeset/shaggy-cows-divide.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  yarn.lock
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#1065 chore: update deps
  vue-press/package.json
  vue-press/src/.vuepress/theme.ts
  vue-press/src/guide/app/ag-grid.md
  vue-press/src/guide/app/authentication.md
  vue-press/src/guide/app/cli.md
  vue-press/src/guide/app/cookbooks.md
  vue-press/src/guide/app/getting-started.md
  vue-press/src/guide/app/legacy.md
  vue-press/src/guide/app/tips_and_tricks.md
  vue-press/src/modules/README.md
  vue-press/src/modules/msal/README.md
  vue-press/src/modules/navigation/README.md
  vue-press/yarn.lock
Labels: 📚 documentation, ⛓️ dependencies, 🚧 chore

#1074 Feat(react-module-event): add event provider
  .changeset/famous-sheep-peel.md
  packages/react/modules/event/src/EventProvider.tsx
  packages/react/modules/event/src/eventContext.ts
  packages/react/modules/event/src/index.ts
  packages/react/modules/event/src/useEventHandler.ts
  packages/react/modules/event/src/useEventProvider.ts
  packages/react/modules/event/src/useModulesEventProvider.ts
  vue-press/src/modules/event/README.md
Labels: 📚 documentation, 🚀 feature, 🧬 Modules, 👾 React

#1075 chore: update workflows
  .github/workflows/generate-docs.yml
  .github/workflows/lint.yml
  .github/workflows/release.yml
Labels: 🚧 chore

#1076 Feat(modules-event-event): create hook for observing events
  .changeset/dry-parents-design.md
  .changeset/light-cows-play.md
  packages/modules/event/src/provider.ts
  packages/react/modules/event/src/index.ts
  packages/react/modules/event/src/useEventStream.ts
  packages/react/modules/event/src/useModulesEventProvider.ts
  vue-press/src/.vuepress/sidebar.ts
  vue-press/src/modules/event/README.md
  vue-press/src/modules/event/react.md
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 🧬 Modules, 👾 React

#1077 Fix(utils-observable): update hooks
  .changeset/empty-lemons-behave.md
  .changeset/fluffy-dryers-rescue.md
  .changeset/funny-weeks-pay.md
  packages/utils/observable/src/react/index.ts
  packages/utils/observable/src/react/useObservable.ts
  packages/utils/observable/src/react/useObservableEpic.ts
  packages/utils/observable/src/react/useObservableFlow.ts
  packages/utils/observable/src/react/useObservableSubscription.ts
Labels: 🐞 bug, 🛠️ utils

#783 fix(bookmark-react): update CreateBookMarkFn type to support promise
  .changeset/nervous-mugs-prove.md
  packages/react/modules/bookmark/src/types.ts
Labels: 🐞 bug, 🚧 chore, 🧬 Modules, 👾 React

#1045 chore(observable): adding Immer as dependency to fusion-observable
  .changeset/fifty-trains-report.md
  .changeset/shaggy-mugs-collect.md
  packages/utils/observable/package.json
  packages/utils/query/package.json
Labels: 📚 documentation, 🛠️ utils, 🚧 chore
