Repository equinor/fusion-framework, pull requests merged in 2023-12, with the labels that each got.

#1600 fix(context): add missing `graphic` and `meta` props
  packages/modules/context/src/types.ts
Labels: 🐞 bug, 🧬 Modules

#1621 fix(http): Refactor HTTP error handling and JSON parsing
  .changeset/cool-forks-type.md
  packages/modules/http/src/errors.ts
  packages/modules/http/src/lib/selectors/json-selector.ts
Labels: 🐞 bug, 🧬 Modules

#1623 fix: package exports react-module-http
  .changeset/neat-schools-kiss.md
  packages/react/modules/http/package.json
Labels: 🐞 bug, 🚧 chore, 🧬 Modules, 👾 React

#1615 feat(bookmarks): no content message
  .changeset/happy-radios-return.md
  packages/react/components/bookmark/src/components/Bookmark.tsx
  packages/react/components/bookmark/src/components/messages/Message.tsx
  packages/react/components/bookmark/src/components/sectionList/SectionList.tsx
Labels: 🚀 feature, 👾 React

#1625 fix: moduleresolution bundler [@equinor/fusion-framework-module-http]
  .changeset/popular-beers-fry.md
  packages/modules/http/package.json
Labels: 🐞 bug, 🚧 chore, 🧬 Modules
