Repository equinor/fusion-framework, pull requests merged in 2023-11, with the labels that each got.

#1491 feat(cli): allow setting archive name
  .changeset/five-frogs-cheer.md
  packages/cli/src/bin/bundle-application.ts
  packages/cli/src/bin/main.app.ts
Labels: 🚀 feature, 💾 CLI

#1498 build: update fusion-wc-person
  .changeset/chilly-walls-scream.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 👾 React

#1529 feat(module-app): expose events
  .changeset/shaggy-needles-hammer.md
  packages/modules/app/package.json
  packages/modules/app/src/app/App.ts
  packages/modules/app/src/app/events.ts
Labels: 🚀 feature, 🧬 Modules

#1545 fix(module-app): fix event details
  .changeset/strong-bees-ring.md
  packages/modules/app/src/app/App.ts
Labels: 🐞 bug, 🧬 Modules

#1548 fix: :bug: #1547
  packages/modules/bookmark/src/client/bookmarkClient.ts
Labels: 🐞 bug, 🧬 Modules

#1551 Docs - cli command app pack
  vue-press/src/guide/app/cli.md
Labels: 📚 documentation
