Repository equinor/fusion-framework, pull requests merged in 2023-09, with the labels that each got.

#1225 chore: update ag-grid
  .changeset/large-ducks-sit.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#1237 fix(cookbook-app-react-context): update types
  .changeset/fresh-pumpkins-rescue.md
  cookbooks/app-react-context/package.json
  cookbooks/app-react-context/src/config.ts
  cookbooks/app-react-context/src/useRelatedContext.ts
  cookbooks/app-react-context/tsconfig.json
Labels: 🐞 bug, 👨🏻‍🍳 cookbooks

#1242 feat(module-http): add functionality for blob query
  .changeset/lazy-flowers-pull.md
  packages/modules/http/src/lib/client/client.ts
  packages/modules/http/src/lib/client/types.ts
  packages/modules/http/src/lib/selectors/blob-selector.ts
  packages/modules/http/src/lib/selectors/index.ts
Labels: 🚀 feature, 🧬 Modules

#1243 feat(module-services): add people api
  .changeset/spicy-bottles-tease.md
  packages/modules/services/src/people/api-models.ts
  packages/modules/services/src/people/client.ts
  packages/modules/services/src/people/person-details/client.ts
  packages/modules/services/src/people/person-details/generate-endpoint.ts
  packages/modules/services/src/people/person-details/generate-parameters.ts
  packages/modules/services/src/people/person-details/index.ts
  packages/modules/services/src/people/person-details/types.ts
  packages/modules/services/src/people/person-photo/client.ts
  packages/modules/services/src/people/person-photo/generate-endpoint.ts
  packages/modules/services/src/people/person-photo/generate-parameters.ts
  packages/modules/services/src/people/person-photo/index.ts
  packages/modules/services/src/people/person-photo/types.ts
  packages/modules/services/src/people/query/client.ts
  packages/modules/services/src/people/query/generate-endpoint.ts
  packages/modules/services/src/people/query/generate-parameters.ts
  packages/modules/services/src/people/query/index.ts
  packages/modules/services/src/people/query/types.ts
  packages/modules/services/src/people/static.ts
  packages/modules/services/src/people/types.ts
  packages/modules/services/src/provider.ts
  packages/modules/services/src/types.ts
Labels: 🚀 feature, 🧬 Modules

#1245 fix(module-services): export sub packages
  packages/modules/services/package.json
  packages/modules/services/src/people/api-models.ts
  packages/modules/services/src/people/index.ts
  packages/modules/services/src/people/types.ts
Labels: 🐞 bug, 🧬 Modules

#1254 feat(module-services): update api models
  .changeset/wicked-rivers-divide.md
  packages/modules/services/src/people/api-models.ts
  packages/modules/services/src/people/api-models.v2.ts
  packages/modules/services/src/people/api-models.v4.ts
  packages/modules/services/src/people/client.ts
  packages/modules/services/src/people/person-details/client.ts
  packages/modules/services/src/people/person-details/generate-endpoint.ts
  packages/modules/services/src/people/person-details/types.ts
  packages/modules/services/src/people/person-photo/client.ts
  packages/modules/services/src/people/person-photo/generate-endpoint.ts
  packages/modules/services/src/people/person-photo/types.ts
  packages/modules/services/src/people/query/client.ts
  packages/modules/services/src/people/query/types.ts
Labels: 🚀 feature, 🧬 Modules

#1255 Feat/react/components/people resolver/initial
  .changeset/four-swans-sip.md
  packages/react/components/people-resolver/README.md
  packages/react/components/people-resolver/package.json
  packages/react/components/people-resolver/src/PeopleResolver.tsx
  packages/react/components/people-resolver/src/PeopleResolverProvider.tsx
  packages/react/components/people-resolver/src/PersonController.ts
  packages/react/components/people-resolver/src/create-resolver.ts
  packages/react/components/people-resolver/src/index.ts
  packages/react/components/people-resolver/src/makeResolver.tsx
  packages/react/components/people-resolver/src/types.ts
  packages/react/components/people-resolver/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 👾 React

#1257 feat(cli): resolve persons
  .changeset/beige-wolves-admire.md
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/Router.tsx
  packages/cli/src/bin/dev-portal/main.tsx
  packages/cli/tsconfig.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 👾 React

#1262 Update docs for setContextType
  vue-press/src/modules/context/README.md
Labels: 📚 documentation

#1273 chore: application element height fix
  .changeset/hot-pants-rule.md
  cookbooks/app-react/src/App.tsx
  packages/cli/src/bin/dev-portal/AppLoader.tsx
  packages/cli/src/index.tsx
Labels: 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks

#1271 Feat(utils-query) align abort flow
  .changeset/silver-glasses-yell.md
  packages/utils/query/package.json
  packages/utils/query/src/Query.ts
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/src/client/QueryClient.ts
  packages/utils/query/src/client/actions.ts
  packages/utils/query/src/client/flows/handle-request.ts
  packages/utils/query/src/client/flows/process-request.ts
  packages/utils/query/src/client/request-processor.ts
  packages/utils/query/src/types.ts
  packages/utils/query/tests/Query.test.ts
  packages/utils/query/vitest.config.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 🛠️ utils

#1282 feat(module-services): add compare util
  .changeset/breezy-zoos-marry.md
  .github/workflows/pr.yml
  packages/modules/services/package.json
  packages/modules/services/src/people/api-models.v4.ts
  packages/modules/services/src/people/person-details/types.ts
  packages/modules/services/src/people/utils.ts
Labels: 🚀 feature, 🚧 chore, 🧬 Modules

#1305 Fix(utils/query): execute query on observe
  .changeset/metal-tools-type.md
  .changeset/tame-wolves-heal.md
  packages/modules/app/src/app/flows.ts
  packages/utils/query/src/Query.ts
  packages/utils/query/tests/Query.test.ts
Labels: 🛠️ utils, 🧬 Modules

#1306 feat(react-component-people-resolver): allow fallback photo
  .changeset/afraid-bulldogs-serve.md
  .changeset/five-days-sort.md
  packages/cli/src/bin/dev-portal/main.tsx
  packages/cli/src/bin/dev-portal/resources/fallback-photo.svg.ts
  packages/react/components/people-resolver/README.md
  packages/react/components/people-resolver/src/PeopleResolverProvider.tsx
  packages/react/components/people-resolver/src/PersonController.ts
  packages/react/components/people-resolver/src/create-resolver.ts
  packages/react/components/people-resolver/src/makeResolver.tsx
Labels: 📚 documentation, 🚀 feature, 💾 CLI, 👾 React

#1320 docs: replace convince with convince
  vue-press/src/modules/http/README.md
Labels: 📚 documentation

#1335 add cookbook and documentation for react people components
  .changeset/cool-olives-smell.md
  .gitignore
  cookbooks/app-react-people/app.manifest.config.ts
  cookbooks/app-react-people/package.json
  cookbooks/app-react-people/src/App.tsx
  cookbooks/app-react-people/src/Router.tsx
  cookbooks/app-react-people/src/config.ts
  cookbooks/app-react-people/src/pages/AvatarPage.tsx
  cookbooks/app-react-people/src/pages/CardPage.tsx
  cookbooks/app-react-people/src/pages/HomePage.tsx
  cookbooks/app-react-people/src/pages/ListItemPage.tsx
  cookbooks/app-react-people/src/pages/SelectorPage.tsx
  cookbooks/app-react-people/src/routes.tsx
  cookbooks/app-react-people/tsconfig.json
  cookbooks/app-react/tsconfig.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
  vue-press/package-lock.json
  vue-press/package.json
  vue-press/src/.vuepress/sidebar.ts
  vue-press/src/guide/app/people.md
  vue-press/src/modules/app/README.md
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#1345 fix(cli and people-provider): add missing changeset
  .changeset/stale-baboons-fold.md
Labels: 🐞 bug

#1354 build(module-ag-grid): update @ag-grid-enterprise/core to 30.2.0
  .changeset/chatty-walls-mate.md
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🧬 Modules

#1357 build(app-react-cookbook): update ag-grid@30.2
  .changeset/happy-moose-wave.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-ag-grid/src/App.tsx
  pnpm-lock.yaml
Labels: 👨🏻‍🍳 cookbooks

#1323 feat(cli): Add --dev-portal flag to facilitate using a custom portal
  .changeset/spicy-bags-develop.md
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/dev-proxy.ts
  packages/cli/src/bin/main.app.ts
Labels: 🚀 feature, 💾 CLI
