Repository equinor/fusion-framework, pull requests merged in 2023-03, with the labels that each got.

#662 fix(useApps): hiding hidden apps
  packages/react/framework/src/app/useApps.ts
Labels: 🐞 bug, 🏗️ framework

#693 feat(cli): allow configuring portal host in cli
  cookbooks/app-react/app.config.js
  packages/cli/src/scripts/app-config.ts
  packages/cli/src/scripts/main.ts
  packages/cli/src/scripts/serve.ts
Labels: 🚀 feature, ✨ improvement, 💾 CLI

#709 feat(services): Added notification api service
  packages/modules/services/package.json
  packages/modules/services/src/notification/api-models.ts
  packages/modules/services/src/notification/client.ts
  packages/modules/services/src/notification/index.ts
  packages/modules/services/src/notification/notification/delete/client.ts
  packages/modules/services/src/notification/notification/delete/generate-endpoint.ts
  packages/modules/services/src/notification/notification/delete/generate-parameters.ts
  packages/modules/services/src/notification/notification/delete/index.ts
  packages/modules/services/src/notification/notification/delete/types.ts
  packages/modules/services/src/notification/notification/get/client.ts
  packages/modules/services/src/notification/notification/get/generate-endpoint.ts
  packages/modules/services/src/notification/notification/get/generate-parameters.ts
  packages/modules/services/src/notification/notification/get/index.ts
  packages/modules/services/src/notification/notification/get/types.ts
  packages/modules/services/src/notification/notification/getAll/client.ts
  packages/modules/services/src/notification/notification/getAll/generate-endpoint.ts
  packages/modules/services/src/notification/notification/getAll/generate-parameters.ts
  packages/modules/services/src/notification/notification/getAll/index.ts
  packages/modules/services/src/notification/notification/getAll/types.ts
  packages/modules/services/src/notification/notification/index.ts
  packages/modules/services/src/notification/notification/patch/client.ts
  packages/modules/services/src/notification/notification/patch/generate-endpoint.ts
  packages/modules/services/src/notification/notification/patch/generate-parameters.ts
  packages/modules/services/src/notification/notification/patch/index.ts
  packages/modules/services/src/notification/notification/patch/types.ts
  packages/modules/services/src/notification/notification/post/client.ts
  packages/modules/services/src/notification/notification/post/generate-endpoint.ts
  packages/modules/services/src/notification/notification/post/generate-parameters.ts
  packages/modules/services/src/notification/notification/post/index.ts
  packages/modules/services/src/notification/notification/post/types.ts
  packages/modules/services/src/notification/settings/get/client.ts
  packages/modules/services/src/notification/settings/get/generate-endpoint.ts
  packages/modules/services/src/notification/settings/get/generate-parameters.ts
  packages/modules/services/src/notification/settings/get/index.ts
  packages/modules/services/src/notification/settings/get/types.ts
  packages/modules/services/src/notification/settings/put/client.ts
  packages/modules/services/src/notification/settings/put/generate-endpoint.ts
  packages/modules/services/src/notification/settings/put/generate-parameters.ts
  packages/modules/services/src/notification/settings/put/index.ts
  packages/modules/services/src/notification/settings/put/types.ts
  packages/modules/services/src/notification/static.ts
  packages/modules/services/src/notification/types.ts
  packages/modules/services/src/provider.ts
Labels: 🚀 feature

#719 feat(bookmark-client): added functionality for bookmark favorites
  packages/modules/services/src/bookmarks/client.ts
  packages/modules/services/src/bookmarks/favorites/delete/client.ts
  packages/modules/services/src/bookmarks/favorites/delete/generate-endpoint.ts
  packages/modules/services/src/bookmarks/favorites/delete/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/delete/index.ts
  packages/modules/services/src/bookmarks/favorites/delete/types-v1.ts
  packages/modules/services/src/bookmarks/favorites/delete/types.ts
  packages/modules/services/src/bookmarks/favorites/head/client.ts
  packages/modules/services/src/bookmarks/favorites/head/generate-endpoint.ts
  packages/modules/services/src/bookmarks/favorites/head/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/head/index.ts
  packages/modules/services/src/bookmarks/favorites/head/types.ts
  packages/modules/services/src/bookmarks/favorites/post/client.ts
  packages/modules/services/src/bookmarks/favorites/post/generate-endpoint.ts
  packages/modules/services/src/bookmarks/favorites/post/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/post/index.ts
  packages/modules/services/src/bookmarks/favorites/post/types.ts
Labels: 🚀 feature, ✨ improvement
