Repository equinor/fusion-framework, pull requests merged in 2024-01, with the labels that each got.

#1646 Feat/react app/msal/current account
  .changeset/four-tools-tickle.md
  .changeset/odd-monkeys-camp.md
  .changeset/orange-cherries-serve.md
  cookbooks/app-react-msal/CHANGELOG.md
  cookbooks/app-react-msal/app.manifest.config.ts
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-msal/src/App.tsx
  cookbooks/app-react-msal/src/config.ts
  cookbooks/app-react-msal/src/index.ts
  cookbooks/app-react-msal/tsconfig.json
  packages/modules/msal/src/client/index.ts
  packages/react/app/package.json
  packages/react/app/src/msal/index.ts
  packages/react/app/src/msal/useAccessToken.ts
  packages/react/app/src/msal/useCurrentAccount.ts
  packages/react/app/src/msal/useToken.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1650 update ag grid to 31
  .changeset/angry-icons-pretend.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#1680 Feat/feature flagging/simplify configurator
  .changeset/nice-chairs-remember.md
  packages/modules/feature-flag/src/FeatureFlagConfigurator.ts
Labels: 🐞 bug, 🧬 Modules

#1693 fix(bookmark-module): fixing the infinite loading
  .changeset/sixty-spies-flow.md
  packages/modules/bookmark/src/client/bookmarkClient.ts
  packages/modules/bookmark/src/client/bookmarkFlows.ts
  packages/modules/bookmark/src/configurator.ts
  packages/modules/bookmark/src/types.ts
Labels: 🐞 bug, 🧬 Modules

#1754 Updated all eds packages to mitigate type issues with eds-icons
  .changeset/hip-wasps-brake.md
  cookbooks/app-react-feature-flag/package.json
  packages/cli/package.json
  packages/react/components/bookmark/package.json
  pnpm-lock.yaml
Labels: 📚 documentation, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#1761 chore: update doc workflow
  .github/workflows/ci.yml
  .github/workflows/generate-docs.yml
  package.json
  vue-press/package.json
Labels: 🚧 chore

#1762 fix(utils-observable): fix action suffix matcher
  .changeset/green-chicken-rush.md
  packages/utils/observable/src/create-action.ts
Labels: 🐞 bug, 🛠️ utils

#1763 fix(module-app): improve type of current application
  .changeset/few-dragons-do.md
  packages/modules/app/src/AppModuleProvider.ts
Labels: 🐞 bug, 🧬 Modules

#1765 improve handling of initial value when using `useObservableState`
  .changeset/breezy-points-beg.md
  packages/utils/observable/src/react/useObservableState.ts
Labels: 🐞 bug, 🛠️ utils

#1766 refactor(react-framework): update possible null and undefined
  .changeset/quick-items-provide.md
  packages/react/framework/src/app/useCurrentApp.ts
  packages/react/framework/src/app/useCurrentAppModule.ts
  packages/react/framework/src/app/useCurrentAppModules.ts
Labels: 👾 React
