Repository equinor/fusion-framework, pull requests merged in 2024-03, with the labels that each got.

#1902 Updates fwc-person in cli and improves cookbook people
  .changeset/late-experts-try.md
  cookbooks/app-react-people/package.json
  cookbooks/app-react-people/src/App.tsx
  cookbooks/app-react-people/src/Styled.tsx
  cookbooks/app-react-people/src/pages/AvatarPage.tsx
  cookbooks/app-react-people/src/pages/CardPage.tsx
  cookbooks/app-react-people/src/pages/ListItemPage.tsx
  cookbooks/app-react-people/src/pages/Navigation.tsx
  cookbooks/app-react-people/src/pages/SelectorPage.tsx
  cookbooks/app-react-people/src/routes.tsx
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 👨🏻‍🍳 cookbooks, 👾 React

#1919 chore: removed unused packages
  .changeset/wicked-bottles-search.md
  packages/cli/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore

#1926 Chore/person/update fwc
  .changeset/curvy-swans-bathe.md
  .changeset/empty-donkeys-remember.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 📚 documentation, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#1930 Fix/deps/cli/contex selector
  .changeset/great-cougars-accept.md
  packages/cli/package.json
  pnpm-lock.yaml
Labels: 📚 documentation, 💾 CLI, 🚧 chore

#1933 Feat/cli/update url on context change
  .changeset/chilly-ravens-whisper.md
  .changeset/khaki-frogs-deliver.md
  .changeset/quick-deers-smile.md
  .changeset/thick-falcons-eat.md
  cookbooks/app-react-context/app.manifest.config.ts
  cookbooks/app-react-context/package.json
  cookbooks/app-react-context/src/config.ts
  packages/cli/src/bin/dev-portal/Router.tsx
  packages/cli/src/bin/dev-portal/useAppContextNavigation.ts
  packages/modules/context/src/utils/index.ts
  packages/modules/context/src/utils/resolve-context-from-path.ts
  packages/modules/context/src/utils/resolve-initial-context.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#1945 chore(deps): bump @equinor/fusion-wc-person from 2.6.4 to 2.6.5
  .changeset/hungry-buses-relate.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👾 React

#1953 chore: update TypeScript version to 5.4.2
  .changeset/eighty-badgers-play.md
  .changeset/hip-stingrays-eat.md
  .changeset/seven-tools-report.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context-custom-error/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/framework/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/context/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/module/src/utils/dot-path.ts
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/service-discovery/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/telemetry/package.json
  packages/modules/widget/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/people-resolver/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/react/widget/package.json
  packages/utils/observable/package.json
  packages/utils/observable/src/create-state.ts
  packages/utils/query/package.json
  packages/widget/package.json
  pnpm-lock.yaml
  vue-press/package.json
Labels: 💾 CLI, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1963 fix(app-react): change types exports in package
  .changeset/tidy-socks-clean.md
  packages/react/app/package.json
Labels: 🐞 bug, 📚 documentation, 👾 React

#1981 fix(exports): make sure all packages have proper export syntax
  .changeset/tall-apples-build.md
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/framework/package.json
  packages/modules/event/package.json
  packages/modules/services/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/people-resolver/package.json
  packages/react/framework/package.json
  packages/react/modules/event/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/react/widget/package.json
  packages/widget/package.json
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🧬 Modules, 👾 React

#1998 Fix/cli/contextselector
  .changeset/popular-cameras-teach.md
  cookbooks/app-react-context/package.json
  cookbooks/app-react-context/src/config.ts
  cookbooks/app-react/package.json
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
  packages/cli/src/bin/dev-portal/ContextSelector/ContextSelector.tsx
  packages/cli/src/bin/dev-portal/ContextSelector/index.ts
  packages/cli/src/bin/dev-portal/ContextSelector/useContextResolver.ts
  packages/cli/src/bin/dev-portal/Header.tsx
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks

#2017 chore(lockfile): update lockfile from previous merge
  pnpm-lock.yaml
Labels: 🚧 chore
