Repository equinor/fusion-framework, pull requests merged in 2024-05, with the labels that each got.

#2109 fix(pnpm): setting required pnpm to v9
  package.json
Labels: 🐞 bug

#2119 docs: update docs
  .changeset/chatty-boats-doubt.md
  vue-press/src/guide/app/cookbooks.md
  vue-press/src/modules/context/README.md
  vue-press/src/modules/http/README.md
  vue-press/src/modules/navigation/README.md
Labels: 📚 documentation

#2145 chore: update npm dependency to latest stable version
  .changeset/README.md
  .changeset/red-dolphins-kick.md
  README.md
  package.json
  packages/utils/query/src/Query.ts
Labels: 📚 documentation, 🛠️ utils, 🚧 chore

#2135 Fix(cli): portal height
  .changeset/cool-flies-smile.md
  .changeset/great-buckets-boil.md
  cookbooks/app-react-people/src/App.tsx
  cookbooks/app-react-people/src/pages/ListItemPage.tsx
  cookbooks/app-react-people/src/pages/Navigation.tsx
  packages/cli/src/bin/dev-portal/AppLoader.tsx
Labels: 🐞 bug, 💾 CLI, 👨🏻‍🍳 cookbooks

#2155 Feat/fusion log/initial
  .changeset/tricky-bags-crash.md
  .changeset/wicked-olives-jog.md
  package.json
  packages/modules/http/package.json
  packages/utils/log/README.md
  packages/utils/log/package.json
  packages/utils/log/src/ConsoleLogger.ts
  packages/utils/log/src/Logger.interface.ts
  packages/utils/log/src/Logger.ts
  packages/utils/log/src/index.ts
  packages/utils/log/src/resolve-log-level.ts
  packages/utils/log/src/static.ts
  packages/utils/log/tests/ConsoleLogger.test.ts
  packages/utils/log/tsconfig.json
  packages/utils/log/vitest.config.ts
  packages/utils/observable/package.json
  packages/utils/query/package.json
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🛠️ utils, 🚧 chore, 🧬 Modules

#2170 feat(observable): enhance action type handling
  .changeset/observable-improve-action-suffix-resolve.md
  packages/utils/observable/src/create-action.ts
  packages/utils/observable/src/create-async-action.ts
  packages/utils/observable/src/create-reducer.ts
  packages/utils/observable/src/types/actions.ts
Labels: 🚀 feature, 🛠️ utils

#2177 Feat(base config builder): allow async overrides
  .changeset/allow-async-config-builder-overrides.md
  .changeset/improve-docs-baseconfig-builder.md
  .changeset/improve-extendability-config-builder.md
  packages/modules/module/src/BaseConfigBuilder.ts
Labels: 🚀 feature, 🧬 Modules

#2171 feat(event): enhance FrameworkEventInitType type definition
  .changeset/event-improve-type-resolve.md
  packages/modules/event/src/event.ts
  packages/modules/event/src/index.ts
Labels: 🚀 feature, 🧬 Modules

#2182 refactor(cookbooks): use workspace versions for fusion dependencies
  .changeset/cool-humans-camp.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context-custom-error/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  pnpm-lock.yaml
Labels: 👨🏻‍🍳 cookbooks

#2197 feat(cookbook/app-react-people): enhance cookbook with examples
  .changeset/moody-hornets-mix.md
  cookbooks/README.md
  cookbooks/app-react-people/README.md
  cookbooks/app-react-people/src/api-models.ts
  cookbooks/app-react-people/src/api/person-search.ts
  cookbooks/app-react-people/src/pages/AvatarPage.tsx
  cookbooks/app-react-people/src/pages/CardPage.tsx
  cookbooks/app-react-people/src/pages/HomePage.tsx
  cookbooks/app-react-people/src/pages/ListItemPage.tsx
Labels: 📚 documentation, 🚀 feature, 👨🏻‍🍳 cookbooks

#2196 fix(http)!: throw correct error in jsonSelector
  .changeset/fifty-pianos-reflect.md
  packages/modules/http/src/lib/selectors/json-selector.ts
Labels: 🐞 bug, 🧨 breaking changes, 🧬 Modules

#2199 docs: remove React version warning from getting started guide
  .changeset/smooth-chefs-happen.md
  vue-press/src/guide/app/getting-started.md
Labels: 📚 documentation

#2200 Chore(deps): update vue press
  .changeset/old-nails-confess.md
  pnpm-lock.yaml
  vue-press/package.json
Labels: 🚧 chore

#2204 feat(observable): upgrade @testing-library/react to v15.0.7
  .changeset/three-snakes-peel.md
  packages/utils/observable/package.json
  pnpm-lock.yaml
Labels: 🚀 feature, 🛠️ utils

#2205 feat(deps): update @equinor/eds
  .changeset/serious-crews-wonder.md
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/bookmark/package.json
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 👨🏻‍🍳 cookbooks, 👾 React

#2207 Chore(ag grid): update to version 31.3
  .changeset/purple-mice-know.md
  .changeset/quiet-donuts-beg.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🚀 feature, 👨🏻‍🍳 cookbooks, 🧬 Modules

#2208 fix(app): add options to useFrameworkServiceClient
  .changeset/cuddly-points-pull.md
  packages/app/src/AppConfigurator.ts
Labels: 🐞 bug
