Repository equinor/fusion-framework, pull requests merged in 2024-09, with the labels that each got.

#2425 feat(react-framework): Support framework creation with ref
  .changeset/thirty-rats-exercise.md
  packages/react/framework/src/Framework.tsx
  packages/react/framework/src/create-framework-provider.tsx
Labels: 🚀 feature, 👾 React

#2434 fix(module): Allow `void` in config callbacks
  .changeset/clean-fans-kick.md
  packages/modules/module/src/BaseConfigBuilder.ts
Labels: 🐞 bug, 🧬 Modules

#2442 hotfix: reference check navigation module and ag-grid module.
  .changeset/hip-mugs-begin.md
  packages/cli/vite.config.ts
  packages/modules/ag-grid/src/module.ts
  packages/modules/navigation/src/module.ts
Labels: 💾 CLI, 🧬 Modules

#2448 feat(cli): create plugin for handling application api calls
  .changeset/quiet-scissors-breathe.md
  packages/cli/src/bin/plugins/app-proxy.ts
Labels: 🚀 feature, 💾 CLI

#2451 refactor(module): fixed issue where post handlers where empty
  .changeset/spotty-eels-care.md
  packages/modules/module/src/configurator.ts
Labels: 🧬 Modules

#2452 feat(http): Add support for resolving URLs with a base URL that contains a path
  .changeset/rotten-drinks-sneeze.md
  packages/modules/http/src/lib/client/client.ts
Labels: 🚀 feature, 🧬 Modules

#2458 fix(http): Update baseUri to use origin of URL
  .changeset/plenty-horses-accept.md
  packages/cli/src/bin/dev-portal/config.ts
Labels: 🐞 bug, 💾 CLI

#2459 feat(service-discovery): Align service discovery with API service
  .changeset/angry-cows-lay.md
  .changeset/funny-pumpkins-train.md
  .changeset/moody-parents-confess.md
  .changeset/nervous-clocks-rest.md
  .changeset/violet-phones-hang.md
  packages/cli/src/bin/dev-portal/config.ts
  packages/cli/src/bin/dev-proxy.ts
  packages/modules/service-discovery/README.md
  packages/modules/service-discovery/package.json
  packages/modules/service-discovery/src/api-schema.ts
  packages/modules/service-discovery/src/client.ts
  packages/modules/service-discovery/src/configurator.ts
  packages/modules/service-discovery/src/constants.ts
  packages/modules/service-discovery/src/index.ts
  packages/modules/service-discovery/src/module.ts
  packages/modules/service-discovery/src/provider.ts
  packages/modules/service-discovery/src/types.ts
  packages/modules/signalr/src/lib/utils/configure-from-framework.ts
  packages/react/legacy-interopt/src/create-service-resolver.ts
  packages/widget/src/WidgetConfigurator.ts
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 💾 CLI, 🧬 Modules, 👾 React

#2463 fix(logger): Update log level to use FUSION_LOG_LEVEL environment variable
  packages/modules/module/src/logger.ts
Labels: 🐞 bug, 🧬 Modules

#2462 feat(cli): Rewrite dev-portal
  .changeset/cuddly-spoons-itch.md
  cookbooks/poc-portal/.eslintrc
  cookbooks/poc-portal/.gitignore
  cookbooks/poc-portal/app.config.ts
  cookbooks/poc-portal/package.json
  cookbooks/poc-portal/src/AppList.tsx
  cookbooks/poc-portal/src/Framework.tsx
  cookbooks/poc-portal/src/config.ts
  cookbooks/poc-portal/src/index.tsx
  cookbooks/poc-portal/src/portal/bootloader.ts
  cookbooks/poc-portal/src/portal/index.html
  cookbooks/poc-portal/tsconfig.json
  cookbooks/poc-portal/vite.config.server.ts
  packages/cli/TODO.md
  packages/cli/package.json
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/create-export-manifest.ts
  packages/cli/src/bin/dev-portal/config.ts
  packages/cli/src/bin/dev-proxy.ts
  packages/cli/src/bin/plugins/app-proxy.ts
  packages/cli/src/bin/utils/format.ts
  packages/cli/src/bin/utils/load-manifest.ts
  packages/cli/src/bin/utils/proxy-request-logger.ts
  packages/cli/src/index.tsx
  packages/cli/src/lib/app-manifest.ts
  packages/cli/src/lib/app-package.ts
  packages/cli/src/lib/vite-config.ts
  packages/modules/app/src/AppConfigurator.ts
  packages/modules/app/src/ApplicationManifest.ts
  packages/modules/app/src/app/App.ts
  packages/modules/app/src/app/actions.ts
  packages/modules/app/src/app/create-state.ts
  packages/modules/app/src/app/flows.ts
  packages/modules/app/src/types.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI, 👨🏻‍🍳 cookbooks, 🧬 Modules

#2450 Feat/cli/appmanager/refactoring-commands
  cookbooks/app-react/app.config.ts
  packages/cli/docs/commands.md
  packages/cli/docs/configuration.md
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/create-export-config.ts
  packages/cli/src/bin/publish-application.ts
  packages/cli/src/bin/tag-application.ts
  packages/cli/src/bin/upload-application.ts
  packages/cli/src/bin/utils/app-api.ts
  packages/cli/src/bin/utils/execute-command.ts
  packages/cli/src/bin/utils/getEndpointUrl.ts
  packages/cli/src/bin/utils/index.ts
  packages/cli/src/bin/utils/isAppRegistered.ts
  packages/cli/src/bin/utils/publishAppConfig.ts
  packages/cli/src/bin/utils/requireToken.ts
  packages/cli/src/bin/utils/tagAppBundle.ts
  packages/cli/src/bin/utils/uploadAppBundle.ts
  packages/cli/src/lib/app-manifest.ts
  packages/modules/http/src/module.ts
  vue-press/src/guide/app/cli.md
  vue-press/src/guide/app/getting-started.md
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI, 👨🏻‍🍳 cookbooks, 🧬 Modules

#2470 Feat(module-app): Adjusted module to the new app service API.
  .changeset/slimy-buses-give.md
  packages/app/src/configure-modules.ts
  packages/app/src/types.ts
  packages/cli/src/lib/app-package.ts
  packages/modules/app/package.json
  packages/modules/app/src/AppClient.ts
  packages/modules/app/src/AppConfigurator.ts
  packages/modules/app/src/AppModuleProvider.ts
  packages/modules/app/src/ApplicationManifest.ts
  packages/modules/app/src/app/App.ts
  packages/modules/app/src/app/actions.ts
  packages/modules/app/src/app/flows.ts
  packages/modules/app/src/app/types.ts
  packages/modules/app/src/application.schema.ts
  packages/modules/app/src/index.ts
  packages/modules/app/src/types.ts
  packages/react/app/src/feature-flag/enable-feature-flag.ts
  packages/react/app/src/index.ts
  packages/react/components/bookmark/src/components/create-bookmark/CreateBookmark.tsx
  packages/react/components/bookmark/src/components/edit-bookmark/EditBookmark.tsx
  packages/react/framework/src/app/useApps.ts
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 🧬 Modules, 👾 React
