Repository equinor/fusion-framework, pull requests merged in 2024-12, with the labels that each got.

#2623 chore: remove express server implementation and related devDependencies
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-feature-flag/src/apiServer/index.js
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks

#2625 chore: remove lint-staged and commitlint dependencies from package.json
  package.json
  pnpm-lock.yaml
Labels: 🚧 chore

#2632 chore(cli): updating fusion-wc-person to 3.0.6
  .changeset/selfish-llamas-own.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👾 React

#2648 fix(cli): resolve app key from manifest during publishing
  .changeset/pink-trees-visit.md
  packages/cli/src/bin/publish-application.ts
Labels: 🐞 bug, 💾 CLI

#2650 fix(bookmarks): resolve request method issue and improve response handling
  .changeset/rare-flies-talk.md
  packages/modules/services/src/bookmarks/endpoints/user-bookmark-favourite.head.ts
  packages/modules/services/src/bookmarks/selectors.ts
  packages/modules/services/src/provider.ts
Labels: 🐞 bug, 🧬 Modules

#2654 fix(module-app): reverts the changes to manifests selector to only re…
  .changeset/stupid-camels-check.md
  packages/modules/app/src/AppClient.ts
Labels: 🐞 bug, 🧬 Modules

#2657 Fix/cli/portal/portal ci domain
  .changeset/hot-terms-complain.md
  packages/cli/src/bin/main.app.ts
Labels: 🐞 bug, 💾 CLI

#2661 feat(cli): adds option for --noOpen to not open dev-server in browser
  .changeset/honest-grapes-deliver.md
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/main.app.ts
Labels: 🚀 feature, 💾 CLI
