Repository equinor/fusion-framework, pull requests merged in 2024-10, with the labels that each got.

#2491 Feat/module-http/validate-request-init
  .changeset/friendly-cobras-vanish.md
  .changeset/smart-swans-double.md
  .changeset/tiny-rats-happen.md
  .changeset/violet-turkeys-cross.md
  .changeset/witty-lies-nail.md
  packages/modules/http/README.md
  packages/modules/http/package.json
  packages/modules/http/src/configurator.ts
  packages/modules/http/src/lib/operators/capitalize-request-method.operator.ts
  packages/modules/http/src/lib/operators/fetch-request.schema.ts
  packages/modules/http/src/lib/operators/index.ts
  packages/modules/http/src/lib/operators/process-operators.ts
  packages/modules/http/src/lib/operators/request-validation.operator.ts
  packages/modules/http/src/lib/operators/types.ts
  packages/modules/http/tests/operators.test.ts
  packages/modules/services/src/bookmarks/delete/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/delete/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/head/generate-parameters.ts
  packages/modules/services/src/bookmarks/favorites/post/generate-parameters.ts
  packages/modules/services/src/bookmarks/post/generate-parameters.ts
  packages/modules/services/src/notification/notification/delete/generate-parameters.ts
  packages/modules/services/src/notification/notification/patch/generate-parameters.ts
  packages/modules/services/src/notification/notification/post/generate-parameters.ts
  packages/modules/services/src/notification/settings/put/generate-parameters.ts
  packages/react/legacy-interopt/src/legacy-api-signin.ts
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🚧 chore, 🧬 Modules, 👾 React

#2493 Chore/deps/update/fusion wc person
  .changeset/curvy-lies-laugh.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 📚 documentation, 💾 CLI, 🚧 chore, 👾 React

#2498 Fix/cli/proxy/execution order
  packages/cli/src/lib/plugins/app-proxy/app-proxy-plugin.ts
Labels: 🐞 bug, 💾 CLI

#2505 fix(cli): using node fetch in is AppRegistered
  packages/cli/src/bin/utils/isAppRegistered.ts
Labels: 🐞 bug, 💾 CLI

#2508 feat(app): Convert config to instance so that implementation of behavior is abstracted
  packages/app/src/types.ts
  packages/cli/package.json
  packages/cli/src/bin/utils/load-app-config.ts
  packages/cli/src/bin/utils/publishAppConfig.ts
  packages/cli/src/lib/app-config.ts
  packages/cli/src/lib/index.ts
  packages/cli/src/lib/plugins/app-proxy/app-proxy-plugin.ts
  packages/cli/tsconfig.json
  packages/modules/app/package.json
  packages/modules/app/src/AppClient.Selectors.ts
  packages/modules/app/src/AppClient.ts
  packages/modules/app/src/AppConfig.ts
  packages/modules/app/src/AppModuleProvider.ts
  packages/modules/app/src/app/App.ts
  packages/modules/app/src/app/types.ts
  packages/modules/app/src/application.schema.ts
  packages/modules/app/src/schemas.ts
  packages/modules/app/src/types.ts
  packages/react/app/src/useAppEnvironmentVariables.ts
  packages/react/framework/src/app/useCurrentApp.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 🧬 Modules, 👾 React

#2506 Feat/cli/upload config
  .changeset/rare-carrots-give.md
  packages/cli/src/bin/create-export-config.ts
  packages/cli/src/bin/main.app.ts
  packages/cli/src/bin/upload-export-config.ts
  packages/cli/src/bin/utils/isAppRegistered.ts
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI

#2509 refactor(cli): rework cli to support import without type module in package.json
  package.json
  packages/cli/bin/cli.mjs
  packages/cli/package.json
  packages/cli/rollup.config.mjs
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/tsconfig.json
  packages/cli/tsconfig.lib.json
  pnpm-lock.yaml
Labels: 💾 CLI

#2517 docs(vue-press): updating getting started
  .changeset/tidy-countries-beg.md
  .changeset/wild-chairs-confess.md
  packages/cli/src/lib/app-config.ts
  vue-press/src/guide/app/getting-started.md
Labels: 🐞 bug, 📚 documentation, 💾 CLI

#2521 feat(cli): adds CHANGELOG.md to app package
  .changeset/calm-hounds-applaud.md
  packages/cli/src/bin/bundle-application.ts
Labels: 🚀 feature, 💾 CLI
