Repository equinor/fusion-framework, pull requests merged in 2024-04, with the labels that each got.

#2033 feat: create an vanilla cookbook app
  .changeset/bright-rings-play.md
  .changeset/fuzzy-beers-learn.md
  cookbooks/app-vanilla/app.manifest.config.ts
  cookbooks/app-vanilla/package.json
  cookbooks/app-vanilla/src/index.ts
  cookbooks/app-vanilla/tsconfig.json
  packages/app/src/types.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 🚧 chore, 👨🏻‍🍳 cookbooks

#2037 chore: update ag-grid to 31.2
  .changeset/real-cougars-hide.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#2043 Fix(module-http): prevent modification to config
  .changeset/breezy-scissors-speak.md
  .changeset/loud-waves-laugh.md
  packages/modules/http/package.json
  packages/modules/http/src/lib/client/client.ts
  packages/modules/http/src/lib/operators/process-operators.ts
  packages/modules/http/src/lib/operators/types.ts
  packages/modules/http/tests/HttpClient.test.ts
  packages/modules/http/tsconfig.json
  packages/modules/http/vitest.config.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 🚀 feature, 🧬 Modules

#2050 chore(framework): person component update
  .changeset/happy-foxes-repair.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: ⛓️ dependencies, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#2051 feat(cli): align dev-portal markup
  .changeset/real-boats-cry.md
  packages/cli/src/bin/dev-portal/AppLoader.tsx
  packages/cli/src/bin/dev-portal/Router.tsx
  packages/cli/src/bin/dev-portal/index.html
  packages/cli/src/bin/dev-portal/main.tsx
Labels: 🚀 feature, 💾 CLI

#2052 fix(cli): hotfix of #2051
  .changeset/lucky-candles-play.md
  packages/cli/src/bin/dev-portal/AppLoader.tsx
  packages/cli/src/bin/dev-portal/Router.tsx
Labels: 🐞 bug, 💾 CLI

#2053 feat(query): allow invalidating of all cache
  .changeset/twenty-boxes-wait.md
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/src/cache/actions.ts
  packages/utils/query/src/cache/create-reducer.ts
Labels: 🚀 feature, 🛠️ utils

#2054 feat(observable): allow multiple effect triggers
  .changeset/tasty-gifts-whisper.md
  packages/utils/observable/src/FlowSubject.ts
Labels: 🚀 feature, 🛠️ utils

#2059 Fix/cli/css/section/zindex
  .changeset/tidy-masks-occur.md
  packages/cli/src/bin/dev-portal/Router.tsx
Labels: 🐞 bug, 📚 documentation, 💾 CLI

#2073 Fix/modules/package type module
  .changeset/young-coats-wonder.md
  packages/modules/http/package.json
Labels: 🐞 bug, 📚 documentation, 🧬 Modules

#2095 feat(utils/query): allow optimistic updates for queries
  .changeset/eight-ears-yell.md
  .changeset/nasty-cars-love.md
  .changeset/thick-planes-wash.md
  packages/utils/query/README.md
  packages/utils/query/package.json
  packages/utils/query/src/Query.ts
  packages/utils/query/src/QueryTask.ts
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/src/cache/actions.ts
  packages/utils/query/src/cache/create-reducer.ts
  packages/utils/query/src/cache/index.ts
  packages/utils/query/src/cache/types.ts
  packages/utils/query/src/client/QueryClient.ts
  packages/utils/query/src/client/QueryClientError.ts
  packages/utils/query/src/client/QueryClientJob.ts
  packages/utils/query/src/client/actions.ts
  packages/utils/query/src/client/flows.ts
  packages/utils/query/src/client/flows/handle-failure.ts
  packages/utils/query/src/client/flows/handle-request.ts
  packages/utils/query/src/client/flows/handle-retry.ts
  packages/utils/query/src/client/flows/index.ts
  packages/utils/query/src/client/flows/process-request.ts
  packages/utils/query/src/client/index.ts
  packages/utils/query/src/client/operators.ts
  packages/utils/query/src/client/reducer.ts
  packages/utils/query/src/client/types.ts
  packages/utils/query/src/logger.ts
  packages/utils/query/src/operators.ts
  packages/utils/query/src/types.ts
  packages/utils/query/tests/Query.invalidation.test.ts
  packages/utils/query/tests/Query.mutations.test.ts
  packages/utils/query/tests/Query.query.test.ts
  packages/utils/query/tests/Query.queryAsync.test.ts
  packages/utils/query/tests/Query.queue.test.ts
  packages/utils/query/tests/Query.test.ts
  packages/utils/query/vitest.config.ts
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🛠️ utils

#2096 docs: update documentation
  .changeset/real-queens-help.md
  packages/modules/navigation/src/navigator.ts
  packages/react/app/src/index.ts
  packages/react/app/src/make-component.tsx
Labels: 📚 documentation, 🧬 Modules, 👾 React

#2103 chore(deps): bump vite to 5.2.10
  .changeset/swift-parrots-hug.md
  package.json
  packages/cli/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore

#2104 chore(deps): bump vue to 3.4.25
  .changeset/slow-spies-pretend.md
  pnpm-lock.yaml
  vue-press/package.json
Labels: 🚧 chore

#2107 fix: update FUSION_LOG_LEVEL configuration in vite config generation
  .changeset/tricky-carpets-rush.md
  packages/cli/src/lib/vite-config.ts
  packages/cli/vite.config.ts
  packages/utils/query/README.md
  packages/utils/query/src/logger.ts
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🛠️ utils
