Repository equinor/fusion-framework, pull requests merged in 2024-06, with the labels that each got.

#2240 Fix/cookbook/ag grid update
  .changeset/healthy-maps-clap.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-ag-grid/src/App.tsx
  cookbooks/app-react-ag-grid/src/table/coldef.tsx
  cookbooks/app-react-ag-grid/src/table/index.tsx
  cookbooks/app-react-ag-grid/src/table/sidebar.tsx
  pnpm-lock.yaml
Labels: 🐞 bug, 🚀 feature, 🚧 chore, 👨🏻‍🍳 cookbooks

#2247 fix(cookbook): ag grid cookbook comment code
  .changeset/chatty-gorillas-bake.md
  cookbooks/app-react-ag-grid/src/App.tsx
  cookbooks/app-react-ag-grid/src/table/coldef.tsx
  cookbooks/app-react-ag-grid/src/table/sidebar.tsx
Labels: 🐞 bug, 👨🏻‍🍳 cookbooks

#2270 chore: update fusion-wc-person to 2.6.8
  .changeset/nice-laws-hang.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👾 React
