Repository equinor/fusion-framework, pull requests merged in 2024-07, with the labels that each got.

#2325 refactor(module): Update ConfigBuilderCallback to use ObservableInput
  .changeset/cool-vans-worry.md
  packages/modules/module/src/BaseConfigBuilder.ts
Labels: 🚧 chore, 🧬 Modules

#2326 feat(module-event): allow event detail mutation
  .changeset/popular-mangos-rescue.md
  packages/modules/event/package.json
  packages/modules/event/src/event.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 🧬 Modules

#2333 build(deps): update TypeScript to version 5.5.3
  .changeset/gorgeous-cooks-rhyme.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context-custom-error/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-environment-variables/package.json
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  cookbooks/app-vanilla/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/framework/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/context/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/service-discovery/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/telemetry/package.json
  packages/modules/widget/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/people-resolver/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/react/widget/package.json
  packages/utils/log/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
  packages/widget/package.json
  pnpm-lock.yaml
  vue-press/package.json
Labels: 💾 CLI, 🛠️ utils, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#2324 Refactor/module http/improve doc
  .changeset/friendly-beans-admire.md
  .changeset/olive-ravens-refuse.md
  .changeset/orange-balloons-poke.md
  packages/modules/http/README.md
  packages/modules/http/src/configurator.ts
  packages/modules/http/src/errors.ts
  packages/modules/http/src/lib/client/client-msal.ts
  packages/modules/http/src/lib/client/client.ts
  packages/modules/http/src/lib/client/types.ts
  packages/modules/http/src/lib/operators/http-request-handler.ts
  packages/modules/http/src/lib/operators/http-response-handler.ts
  packages/modules/http/src/lib/operators/process-operators.ts
  packages/modules/http/src/lib/operators/request-operator-header.ts
  packages/modules/http/src/lib/operators/types.ts
  packages/modules/http/src/lib/selectors/blob-selector.ts
  packages/modules/http/src/lib/selectors/index.ts
  packages/modules/http/src/lib/selectors/json-selector.ts
  packages/modules/http/src/module.ts
  packages/modules/http/src/provider.ts
  vue-press/src/modules/http/README.md
Labels: 📚 documentation, 🧬 Modules

#2313 feat(fusion-query): Enhance mutate functionality
  .changeset/fluffy-olives-shout.md
  .changeset/sweet-bottles-bow.md
  packages/utils/query/src/Query.ts
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/tests/Query.mutations.test.ts
Labels: 🚀 feature, 🛠️ utils

#2345 chore: update workflow for pr
  .github/workflows/actions/build-docs/action.yml
  .github/workflows/pr-docs.yml
  .github/workflows/pr.yml
Labels: 🚧 chore

#2343 feat: Add try-catch block for creating immutable copies of event details
  .changeset/forty-trees-flow.md
  packages/modules/event/src/event.ts
Labels: 🚀 feature, 🧬 Modules

#2353 feat: Add new select method to FlowSubject
  .changeset/real-pigs-destroy.md
  packages/utils/observable/src/FlowSubject.ts
Labels: 🚀 feature, 🛠️ utils

#2355 Feat(module bookmark): rewrite
  .changeset/spicy-dolls-sip.md
  packages/modules/bookmark/README.md
  packages/modules/bookmark/package.json
  packages/modules/bookmark/src/BookmarkClient.interface.ts
  packages/modules/bookmark/src/BookmarkClient.ts
  packages/modules/bookmark/src/BookmarkConfigurator.ts
  packages/modules/bookmark/src/BookmarkProvider.actions.ts
  packages/modules/bookmark/src/BookmarkProvider.error.ts
  packages/modules/bookmark/src/BookmarkProvider.events.ts
  packages/modules/bookmark/src/BookmarkProvider.flows.ts
  packages/modules/bookmark/src/BookmarkProvider.reducer.ts
  packages/modules/bookmark/src/BookmarkProvider.selectors.ts
  packages/modules/bookmark/src/BookmarkProvider.store.ts
  packages/modules/bookmark/src/BookmarkProvider.ts
  packages/modules/bookmark/src/bookmark-config-builder.ts
  packages/modules/bookmark/src/bookmark-config.schema.ts
  packages/modules/bookmark/src/bookmark-module.ts
  packages/modules/bookmark/src/bookmark-provider.ts
  packages/modules/bookmark/src/bookmark.schemas.ts
  packages/modules/bookmark/src/client/bookmarkActions.ts
  packages/modules/bookmark/src/client/bookmarkClient.ts
  packages/modules/bookmark/src/client/bookmarkFlows.ts
  packages/modules/bookmark/src/client/bookmarkReducer.ts
  packages/modules/bookmark/src/configurator.ts
  packages/modules/bookmark/src/enable-bookmark.ts
  packages/modules/bookmark/src/index.ts
  packages/modules/bookmark/src/module.ts
  packages/modules/bookmark/src/types.ts
  packages/modules/bookmark/src/utils/handle-url.ts
  packages/modules/bookmark/src/utils/index.ts
Labels: 📚 documentation, 🚀 feature, 🧬 Modules

#2360 Fix/cli/dev portal/context selector/clear external
  .changeset/small-fishes-destroy.md
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/ContextSelector/ContextSelector.tsx
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 💾 CLI
