Repository equinor/fusion-framework, pull requests merged in 2024-11, with the labels that each got.

#2524 Fix/legacy-interopt/service-resolver
  .changeset/lazy-games-clap.md
  .changeset/little-gifts-chew.md
  packages/react/legacy-interopt/src/LegacyAuthContainer.ts
  packages/react/legacy-interopt/src/create-service-resolver.ts
Labels: 👾 React

#2523 Fix/fusion ci domain
  .changeset/flat-bikes-return.md
  packages/cli/docs/api-authentication.md
  packages/cli/docs/commands.md
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/lib/plugins/app-proxy/README.md
  packages/cli/src/lib/plugins/app-proxy/app-proxy-plugin.ts
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🚧 chore

#2528 fix(legacy-interopt): fixes missing call to handleWindowCallbackAsync
  .changeset/slow-dodos-tease.md
  packages/react/legacy-interopt/src/create-fusion-context.ts
  packages/react/legacy-interopt/src/create-service-resolver.ts
Labels: 🐞 bug, 👾 React

#2520 Feat/module app/person specific manifest
  .changeset/red-ducks-battle.md
  packages/modules/app/src/AppClient.ts
Labels: 🚀 feature, 🚧 chore, 🧬 Modules

#2567 feat: add configurable paths for app proxy plugin
  .changeset/tidy-buttons-clean.md
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/lib/plugins/app-proxy/app-proxy-plugin.ts
Labels: 🚀 feature, 💾 CLI

#2574 Fix/legacy interopt/token from url
  .changeset/sweet-keys-prove.md
  packages/react/legacy-interopt/src/LegacyAuthContainer.ts
Labels: 🐞 bug, 🚀 feature, 👾 React

#2575 fix: update import path for BookmarkCreateArgs in useBookmark
  .changeset/lemon-coats-buy.md
  packages/react/modules/bookmark/src/useBookmark.ts
Labels: 🐞 bug, 🧬 Modules, 👾 React

#2548 Chore/documentation/cli/app config
  .changeset/famous-spiders-wonder.md
  cookbooks/app-react/app.config.ts
  packages/cli/docs/configuration.md
Labels: 📚 documentation, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks

#2591 chore(deps): updated fusion-wc-person
  .changeset/breezy-lizards-leave.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👾 React

#2606 fix(cli): apploader only emits the latest result
  .changeset/thin-baboons-doubt.md
  packages/cli/src/bin/dev-portal/AppLoader.tsx
Labels: 🐞 bug, 💾 CLI

#2612 Fix/cli/dev proxy/join
  .changeset/wise-pears-cover.md
  packages/cli/src/lib/plugins/app-proxy/app-proxy-plugin.ts
Labels: 🐞 bug, 💾 CLI, 🚧 chore
