Repository equinor/fusion-framework, pull requests merged in 2024-02, with the labels that each got.

#1777 Chore/update deps 01 02 24
  .changeset/config.json
  .changeset/green-buckets-lay.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react/package.json
  package.json
  packages/cli/package.json
  packages/modules/ag-grid/package.json
  packages/modules/feature-flag/package.json
  packages/modules/module/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/people-resolver/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
  pnpm-lock.yaml
  vue-press/CHANGELOG.md
  vue-press/package.json
Labels: 📚 documentation, 💾 CLI, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1745 chore(PeopleResolver): remove todo
  .changeset/chilled-bugs-judge.md
  packages/react/components/people-resolver/src/PeopleResolverProvider.tsx
Labels: 🚧 chore, 👾 React

#1781 Fusion/issues/285
  .changeset/funny-sheep-impress.md
  .changeset/little-seas-brush.md
  .changeset/rude-cheetahs-scream.md
  cookbooks/app-react-feature-flag/src/config.ts
  packages/app/README.md
  packages/app/package.json
  packages/app/src/AppConfigurator.ts
  packages/react/app/README.md
  packages/react/app/src/feature-flag/enable-feature-flag.ts
  packages/react/app/src/feature-flag/index.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 🧨 breaking changes, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#1786 fix(cli): allow providing resources in defineAppManifest
  .changeset/wicked-plants-joke.md
  packages/cli/src/lib/app-manifest.ts
Labels: 🐞 bug, 💾 CLI

#1789 fix(legacy-interopt): remove script injection
  .changeset/hungry-needles-drop.md
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
Labels: 🐞 bug, 🧨 breaking changes, 👾 React

#1791 feat(react-app): Propagate error
  .changeset/clean-radios-smash.md
  packages/react/framework/src/app/useApps.ts
Labels: 🚀 feature, 👾 React

#1792 fix(module): improve-object-path-resolve
  .changeset/small-experts-watch.md
  packages/modules/module/src/BaseConfigBuilder.ts
  packages/modules/module/src/utils/dot-path.ts
Labels: 🐞 bug, 🧬 Modules

#1807 doc: update contribute
  .github/PULL_REQUEST_TEMPLATE.md
  CONTRIBUTING.md
Labels: 📚 documentation, 🚧 chore

#1808 docs: add reviewing guidelines
  contributing/reviewing.md
Labels: 📚 documentation

#1816 docs: Add documentation for including static resources
  .changeset/good-pianos-rush.md
  .github/workflows/pr.yml
  .gitignore
  packages/cli/README.md
  packages/cli/docs/app-configuration.md
  packages/cli/docs/app.md
  vue-press/src/.vuepress/sidebar.ts
  vue-press/src/.vuepress/theme.ts
  vue-press/src/cli/README.md
  vue-press/src/cli/cli.png
  vue-press/src/cli/docs/app-config.md
  vue-press/src/cli/docs/app.md
  vue-press/src/guide/app/cli.md
Labels: 📚 documentation, 💾 CLI, 🚧 chore

#1827 chore(deps): update @equinor/fusion-wc-person and @equinor/fusion-rea…
  .changeset/green-deers-travel.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React

#1852 chore: add missing exported type
  .changeset/nine-rabbits-repeat.md
  packages/react/app/package.json
Labels: 🚧 chore, 👾 React

#1868 chore(deps): upgrade vuepress to rc 8
  .changeset/wise-ladybugs-change.md
  pnpm-lock.yaml
  vue-press/package.json
  vue-press/src/.vuepress/client.ts
  vue-press/src/.vuepress/theme.ts
Labels: 🚧 chore

#1760 feat(context): add FusionContextSearchError
  .changeset/early-ghosts-remain.md
  cookbooks/app-react-context/package.json
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
  packages/modules/context/package.json
  packages/modules/context/src/ContextProvider.ts
  packages/modules/context/src/errors.ts
  packages/react/components/people-resolver/package.json
  packages/react/modules/context/src/index.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#1875 fix(contextselector): show message when unhandled error occurs
  .changeset/olive-starfishes-compare.md
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
Labels: 🐞 bug, 💾 CLI

#1878 fix(context-selector): add error and info icons
  .changeset/hot-penguins-own.md
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
Labels: 🐞 bug, 💾 CLI

#1867 fix(cli): removing react person components from cli and only use web comp
  .changeset/violet-pans-behave.md
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/Header.tsx
  packages/cli/src/bin/dev-portal/PersonSideSheet/index.tsx
  packages/cli/src/bin/dev-portal/usePersonResolver.ts
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🚧 chore, 👾 React

#1885 chore: update ag-grid dependencies to version 31.1.1
  .changeset/dirty-buses-kneel.md
  cookbooks/app-react-ag-grid/package.json
  packages/modules/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules

#1890 fix(context-selector): fix typo
  .changeset/angry-pants-lick.md
  packages/cli/src/bin/dev-portal/ContextSelector.tsx
Labels: 🐞 bug, 💾 CLI
