Repository equinor/fusion-framework, pull requests merged in 2024-08, with the labels that each got.

#2381 fix(observable): improve type resolve of ActionBaseType
  .changeset/fair-geese-shake.md
  packages/utils/observable/src/types/actions.ts
Labels: 🐞 bug, 🛠️ utils

#2389 Fix/cli/person select/clear
  .changeset/lemon-pens-report.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, ⛓️ dependencies, 💾 CLI, 👨🏻‍🍳 cookbooks, 👾 React

#2407 feat(module): Improve handling of configuration callbacks
  .changeset/empty-ants-remain.md
  packages/modules/module/src/BaseConfigBuilder.ts
Labels: 🚀 feature, 🧬 Modules

#2408 fix(utils/log): Remove formatting of log messages in ConsoleLogger
  .changeset/nine-knives-reply.md
  packages/utils/log/src/ConsoleLogger.ts
  packages/utils/log/tests/ConsoleLogger.test.ts
Labels: 🐞 bug, 🛠️ utils
