Repository equinor/fusion-framework, pull requests merged in 2025-10, with the labels that each got.

#3490 feat: enable core telemetry integration with module configurator events
  .changeset/configurators-logger-cleanup.md
  .changeset/module-events-added.md
  .changeset/spa-bootstrap-cleanup.md
  .changeset/telemetry-event-mapping.md
  packages/app/src/AppConfigurator.ts
  packages/framework/src/FrameworkConfigurator.ts
  packages/modules/module/src/configurator.ts
  packages/modules/module/src/index.ts
  packages/modules/module/src/types.ts
  packages/modules/telemetry/src/enable-telemetry.ts
  packages/modules/telemetry/src/utils/index.ts
  packages/modules/telemetry/src/utils/map-configurator-events.ts
  packages/vite-plugins/spa/src/html/bootstrap.ts
  packages/widget/src/WidgetConfigurator.ts
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 🧬 Modules

#3501 feat: enhance telemetry module with async initialization support
  .changeset/module-telemetry-added.md
  packages/modules/telemetry/README.md
  packages/modules/telemetry/package.json
  packages/modules/telemetry/src/Measurement.ts
  packages/modules/telemetry/src/TelemetryAdapter.ts
  packages/modules/telemetry/src/TelemetryConfigurator.interface.ts
  packages/modules/telemetry/src/TelemetryConfigurator.ts
  packages/modules/telemetry/src/TelemetryProvider.ts
  packages/modules/telemetry/src/__tests__/TelemetryConfigurator.test.ts
  packages/modules/telemetry/src/__tests__/TelemetryProvider.test.ts
  packages/modules/telemetry/src/adapters/application-insights/adapter.ts
  packages/modules/telemetry/src/adapters/console/adapter.ts
  packages/modules/telemetry/src/adapters/index.ts
  packages/modules/telemetry/src/index.ts
  packages/modules/telemetry/src/module.ts
  packages/modules/telemetry/src/static.ts
  packages/modules/telemetry/src/utils/resolve-metadata.ts
Labels: 📚 documentation, 🚀 feature, 🧬 Modules

#3492 feat: Add telemetry support to framework configurator
  .changeset/framework-telemetry-integration.md
  packages/framework/package.json
  packages/framework/src/FrameworkConfigurator.ts
  packages/framework/src/__tests__/FrameworkConfigurator.test.ts
  packages/framework/src/index.ts
  packages/framework/src/init.ts
  packages/framework/src/types.ts
  packages/framework/tsconfig.json
  packages/framework/vitest.config.ts
  packages/modules/module/src/configurator.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 🧬 Modules

#3514 chore: remove Biome rule overrides to use default best practices
  biome.json
  cookbooks/app-react-bookmark-advanced/src/Create.tsx
  cookbooks/app-react-bookmark-advanced/src/Page1.tsx
  cookbooks/app-react-bookmark-advanced/src/Page2.tsx
  cookbooks/app-react-bookmark/src/App.tsx
  packages/dev-portal/src/AppLoader.tsx
  packages/dev-portal/src/ContextSelector/ContextSelector.tsx
  packages/dev-portal/src/FusionLogo.tsx
  packages/dev-portal/src/Header.tsx
  packages/modules/context/src/ContextProvider.ts
  packages/react/components/bookmark/src/components/create-bookmark/CreateBookmark.tsx
  packages/react/components/bookmark/src/components/edit-bookmark/EditBookmark.tsx
  packages/react/legacy-interopt/src/LegacyAppContainer.ts
  packages/utils/observable/src/react/useObservableRef.ts
Labels: 🐞 bug, 🚀 feature, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#3521 feat(vite-plugins-spa): add comprehensive telemetry integration to SPA bootstrap and service worker
  .changeset/vite-plugin-spa-telemetry-integration.md
  packages/vite-plugins/spa/package.json
  packages/vite-plugins/spa/src/html/bootstrap.ts
  packages/vite-plugins/spa/src/html/register-service-worker.ts
  packages/vite-plugins/spa/tsconfig.json
  pnpm-lock.yaml
Labels: 🐞 bug, 🚀 feature, 🚧 chore

#3522 feat: add telemetry integration to dev portal
  .changeset/dev-portal-telemetry-integration.md
  packages/dev-portal/package.json
  packages/dev-portal/src/config.ts
  packages/dev-portal/tsconfig.json
  pnpm-lock.yaml
Labels: 🚀 feature, 🚧 chore

#3527 feat(telemetry): enhance interface documentation and console adapter UX
  packages/modules/telemetry/src/TelemetryProvider.interface.ts
  packages/modules/telemetry/src/adapters/console/adapter.ts
  packages/modules/telemetry/src/static.ts
Labels: 🚀 feature, 🧬 Modules

#3529 feat: add telemetry integration and dev server types alignment
  .changeset/dev-portal-telemetry-integration.md
  .changeset/typescript-5-9-3-update.md
  .changeset/vite-plugin-spa-telemetry-integration.md
  packages/dev-server/README.md
  packages/dev-server/src/create-dev-server-config.ts
  packages/dev-server/src/types.ts
  packages/vite-plugins/spa/README.md
  packages/vite-plugins/spa/src/html/bootstrap.ts
  packages/vite-plugins/spa/src/types.ts
Labels: 🐞 bug, 📚 documentation, 🚀 feature

#3534 docs: add module-telemetry to modules list
  .changeset/cli-dev-server-config-docs.md
  .changeset/docs-dev-server-config-navigation.md
  .changeset/docs-telemetry-module.md
  packages/cli/docs/dev-server-config.md
  packages/cli/docs/dev-server.md
  packages/modules/telemetry/README.md
  packages/modules/telemetry/package.json
  vue-press/src/.vuepress/sidebar.ts
  vue-press/src/cli/docs/dev-server-config.md
  vue-press/src/modules/README.md
  vue-press/src/modules/telemetry/README.md
Labels: 📚 documentation, 💾 CLI, 🚧 chore, 🧬 Modules

#3535 refactor: reorder ModuleEventLevel enum to match TelemetryLevel sequence
  packages/modules/module/src/types.ts
Labels: 🧬 Modules

#3536 fix: handle empty module initialization streams
  packages/modules/module/src/configurator.ts
Labels: 🐞 bug, 🧬 Modules

#3537 feat(fusion-query): add comprehensive event system for telemetry
  .changeset/fusion-query_event-system.md
  .github/workflows/pr.yml
  packages/utils/query/README.md
  packages/utils/query/package.json
  packages/utils/query/src/Query.ts
  packages/utils/query/src/QueryTask.ts
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/src/cache/events.ts
  packages/utils/query/src/cache/index.ts
  packages/utils/query/src/client/QueryClient.ts
  packages/utils/query/src/client/actions.ts
  packages/utils/query/src/client/events.ts
  packages/utils/query/src/client/index.ts
  packages/utils/query/src/client/reducer.ts
  packages/utils/query/src/events.ts
  packages/utils/query/src/index.ts
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 🛠️ utils, 🚧 chore

#3541 fix: capitalizeRequestMethodOperator to handle undefined HTTP methods
  .changeset/fix-capitalize-request-method-operator.md
  packages/modules/http/src/lib/operators/fetch-request.schema.ts
  packages/modules/http/tests/operators.test.ts
Labels: 🐞 bug, 🧬 Modules

#3542 chore: update person component dependencies for improved functionality
  .changeset/dependency-updates-person-components.md
  cookbooks/app-react-people/package.json
  packages/dev-portal/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React
