Repository equinor/fusion-framework, pull requests merged in 2025-01, with the labels that each got.

#2685 Fix/module app/set module version
  .changeset/little-carrots-kneel.md
  packages/modules/app/src/AppModuleProvider.ts
Labels: 🐞 bug, 🚧 chore, 🧬 Modules

#2636 fix(app-react-settings) setting label on fancy settings to fancy
  .changeset/flat-suns-brake.md
  cookbooks/app-react-settings/src/App.tsx
Labels: 🚧 chore, 👨🏻‍🍳 cookbooks

#2627 fix(cookbooks): remove settings from app-react
  cookbooks/app-react/src/App.tsx
Labels: 🐞 bug, 👨🏻‍🍳 cookbooks

#2626 chore: documentation update to cli under guides
  .changeset/orange-ravens-care.md
  vue-press/src/guide/app/cli.md
Labels: 📚 documentation, 🚧 chore

#2619 feat(query): add callback for rollback of mutation on query cache
  .changeset/gentle-fans-rule.md
  packages/utils/query/src/Query.ts
  packages/utils/query/src/cache/QueryCache.ts
  packages/utils/query/src/cache/actions.ts
  packages/utils/query/src/cache/create-reducer.ts
Labels: 🚀 feature, 🛠️ utils

#2696 Chore/person component/update
  .changeset/warm-lions-cry.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👾 React

#2519 fix(module-app): expanding apps endpoint to be the same as persons/me…
  .changeset/tall-ants-trade.md
  packages/modules/app/src/AppClient.ts
Labels: 🐞 bug, 🧬 Modules

#2766 refactor(event): simplify event detail handling and remove immer dependency
  .changeset/gorgeous-kings-compete.md
  packages/modules/event/package.json
  packages/modules/event/src/event.ts
  pnpm-lock.yaml
Labels: 🧬 Modules

#2765 feat(people-provider): filter out past positions in PersonController
  .changeset/clever-suns-draw.md
  packages/react/components/people-resolver/src/PersonController.ts
Labels: 🚀 feature, 👾 React

#2687 Feat(module-ag-grid): upgrade to AG Grid 33
  .changeset/nervous-tools-cry.md
  .changeset/slimy-spies-give.md
  .changeset/slow-pets-run.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-ag-grid/src/App.tsx
  cookbooks/app-react-ag-grid/src/config.ts
  cookbooks/app-react-ag-grid/tsconfig.json
  packages/modules/ag-grid/README.md
  packages/modules/ag-grid/package.json
  packages/modules/ag-grid/src/AgGridConfigurator.interface.ts
  packages/modules/ag-grid/src/AgGridConfigurator.ts
  packages/modules/ag-grid/src/AgGridProvider.ts
  packages/modules/ag-grid/src/community.ts
  packages/modules/ag-grid/src/configurator.ts
  packages/modules/ag-grid/src/default-modules.ts
  packages/modules/ag-grid/src/enterprise.ts
  packages/modules/ag-grid/src/index.ts
  packages/modules/ag-grid/src/module.ts
  packages/modules/ag-grid/src/provider.ts
  packages/modules/ag-grid/src/themes.ts
  packages/react/app/package.json
  packages/react/app/src/ag-grid/useTheme.ts
  packages/react/app/src/bookmark/useBookmark.ts
  packages/react/app/tsconfig.json
  packages/react/modules/bookmark/src/index.ts
  pnpm-lock.yaml
  vue-press/src/modules/ag-grid/README.md
Labels: 📚 documentation, 🚀 feature, ✨ improvement, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React
