Repository equinor/fusion-framework, pull requests merged in 2025-06, with the labels that each got.

#3096 feat: enhance DynamicInputValue type and update toObservable function signature for improved argument handling
  .changeset/fix-to-observable-type.md
  packages/utils/observable/src/to-observable.ts
  packages/utils/observable/tests/observable.test.ts
Labels: 🚀 feature, 🛠️ utils

#3097 feat: add copy URL functionality to bookmarks for easier sharing
  .changeset/weak-wings-say.md
  packages/react/components/bookmark/src/components/sectionList/SectionList.tsx
Labels: 🚀 feature, 👾 React

#3109 fix: update useBookmarkNavigate to trigger onCurrentBookmarkChanged
  .changeset/bright-buses-call.md
  packages/react/modules/bookmark/src/portal/useBookmarkNavigate.ts
Labels: 🐞 bug, 🧬 Modules, 👾 React

#3086 chore: add new export for actions in fusion-observable
  .changeset/wet-comics-tease.md
  packages/utils/observable/package.json
  packages/utils/observable/src/actions.ts
Labels: 🛠️ utils, 🚧 chore

#3088 chore(packages): update typeversion in package.json
  .changeset/clean-women-pick.md
  packages/app/package.json
  packages/cli/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/widget/package.json
  packages/react/ag-grid/package.json
  packages/react/app/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/signalr/package.json
  packages/utils/query/package.json
Labels: 💾 CLI, 🛠️ utils, 🚧 chore, 🧬 Modules, 👾 React

#3148 fix(module-bookmark): allow reselection of the current bookmark by removing the existing check
  .changeset/stale-papayas-behave.md
  packages/modules/bookmark/src/BookmarkProvider.ts
Labels: 🐞 bug, 🧬 Modules

#3151 fix(bookmark): remove unnecessary deepEqual check from currentBookmark$ selector
  .changeset/chilly-clubs-talk.md
  packages/modules/bookmark/src/BookmarkProvider.ts
Labels: 🐞 bug, 🧬 Modules

#3164 fix(FFC): correct HTTP client name from 'app' to 'apps' for service discovery alignment
  .changeset/good-pillows-ring.md
  packages/cli/src/bin/dev-portal/config.ts
Labels: 🐞 bug, 💾 CLI
