Repository equinor/fusion-framework, pull requests merged in 2025-03, with the labels that each got.

#2888 fix(cli): update deps: react-context-selector to 1.0.4
  .changeset/new-pants-dig.md
  packages/cli/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI

#2892 refactor: improve createReducer to handle undefined initial state
  .changeset/nasty-bottles-end.md
  .changeset/slow-actors-pump.md
  .changeset/strong-cities-repeat.md
  biome.json
  packages/utils/observable/src/create-reducer.ts
  packages/utils/observable/tests/create-reducer.test.ts
  packages/utils/observable/tsconfig.json
Labels: 🛠️ utils

#2900 fix(biome): change useLiteralKeys rule from warn to error
  .changeset/flat-oranges-stay.md
  .changeset/sharp-peaches-act.md
  biome.json
  packages/modules/http/src/configurator.ts
  packages/react/legacy-interopt/src/create-service-resolver.ts
Labels: 🐞 bug, 🧬 Modules, 👾 React

#2901 refactor: adhere to Biome `useOptionalChain` and improve null checks
  .changeset/cool-pillows-chew.md
  biome.json
  packages/modules/http/src/provider.ts
  packages/modules/telemetry/src/provider.ts
  packages/modules/widget/src/enable-widget-module.ts
  packages/react/legacy-interopt/src/LegacyAuthContainer.ts
  packages/react/modules/bookmark/src/useBookmark.ts
Labels: 🧬 Modules, 👾 React

#2904 Refactor(biome): no accumulating spread
  .changeset/tender-papayas-make.md
  biome.json
  packages/modules/module/src/logger.ts
  packages/modules/services/package.json
  packages/modules/services/src/context/index.ts
  packages/modules/services/src/context/query/generate-endpoint.ts
  packages/modules/services/src/context/related/generate-endpoint.ts
  packages/modules/services/tests/context.test.ts
  packages/modules/services/tests/mocks/get-context-item.ts
  packages/modules/services/tests/mocks/index.ts
  packages/modules/services/tests/setup.ts
  packages/modules/services/tsconfig.json
  packages/modules/services/vitest.config.ts
  pnpm-lock.yaml
Labels: 🧬 Modules

#2907 feat(cli): add `help-proxy` plugin for the cli
  .changeset/clear-pots-see.md
  biome.json
  packages/cli/src/bin/create-dev-serve.ts
  packages/cli/src/bin/dev-portal/config.ts
  packages/cli/src/lib/plugins/help-proxy/README.md
  packages/cli/src/lib/plugins/help-proxy/help-proxy-plugin.ts
  packages/cli/src/lib/plugins/help-proxy/index.ts
Labels: 📚 documentation, 🚀 feature, 💾 CLI

#2921 Add utility functions for handling imports and configuration files
  .changeset/red-ways-fetch.md
  packages/utils/imports/README.md
  packages/utils/imports/package.json
  packages/utils/imports/src/import-config.ts
  packages/utils/imports/src/import-json.ts
  packages/utils/imports/src/import-script.ts
  packages/utils/imports/src/index.ts
  packages/utils/imports/src/resolve-config-file.ts
  packages/utils/imports/tests/import-config.test.ts
  packages/utils/imports/tests/import-json.test.ts
  packages/utils/imports/tests/import-script.test.ts
  packages/utils/imports/tests/setup.ts
  packages/utils/imports/tsconfig.json
  packages/utils/imports/vitest.config.ts
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🛠️ utils

#2929 fix(framework): queueOperator
  .changeset/silent-apes-type.md
  packages/modules/app/src/AppClient.ts
Labels: 🐞 bug, 🧬 Modules
