Repository equinor/fusion-framework, pull requests merged in 2025-04, with the labels that each got.

#2930 feat(context): add support for custom context path extraction and generation
  .changeset/sad-trains-fix.md
  packages/cli/src/bin/dev-portal/useAppContextNavigation.ts
  packages/modules/context/src/ContextConfigBuilder.ts
  packages/modules/context/src/ContextProvider.ts
  packages/modules/context/src/configurator.ts
  packages/modules/services/tests/mocks/get-context-item.ts
Labels: 🐞 bug, 🚀 feature, 💾 CLI, 🧬 Modules

#2939 feat(spa-plugin): add initial implementation of Fusion Framework Vite SPA Plugin
  .changeset/chatty-bats-tell.md
  packages/vite-plugins/spa/README.md
  packages/vite-plugins/spa/package.json
  packages/vite-plugins/spa/src/html/bootstrap.ts
  packages/vite-plugins/spa/src/html/index.html.ts
  packages/vite-plugins/spa/src/html/index.ts
  packages/vite-plugins/spa/src/html/register-service-worker.ts
  packages/vite-plugins/spa/src/html/sw.ts
  packages/vite-plugins/spa/src/index.ts
  packages/vite-plugins/spa/src/plugin.ts
  packages/vite-plugins/spa/src/types.ts
  packages/vite-plugins/spa/src/util/load-env.ts
  packages/vite-plugins/spa/src/util/object-to-env.ts
  packages/vite-plugins/spa/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature

#2953 Add optional parent ModulesInstance to Framework component
  .changeset/deep-spiders-warn.md
  packages/react/framework/src/Framework.tsx
Labels: 🚀 feature, 👾 React

#2962 fix(cli): update deps: `@equinor/fusion-wc-person` to 3.1.7
  .changeset/red-sloths-find.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI, 👾 React

#2973 Remove @equinor/fusion-framework-react-widget package and dependencies
  .changeset/hot-pots-cheer.md
  packages/cli/package.json
  packages/cli/src/bin/dev-portal/ContextSelector/useContextResolver.ts
  packages/cli/tsconfig.json
  packages/modules/context/package.json
  packages/react/app/package.json
  packages/react/app/src/bookmark/useCurrentBookmark.ts
  packages/react/app/src/widget/index.ts
  packages/react/app/tsconfig.json
  packages/react/components/people-resolver/package.json
  packages/react/widget/CHANGELOG.md
  packages/react/widget/README.md
  packages/react/widget/package.json
  packages/react/widget/src/components/BaseWidget.tsx
  packages/react/widget/src/components/WidgetComponent.tsx
  packages/react/widget/src/hooks/use-portal-widgets.ts
  packages/react/widget/src/index.ts
  packages/react/widget/src/render/render.ts
  packages/react/widget/src/util/element.ts
  packages/react/widget/src/util/make-widget-component.tsx
  packages/react/widget/tsconfig.json
  pnpm-lock.yaml
  tsconfig.base.json
  vue-press/package.json
  vue-press/src/.vuepress/components/AgGridVersion.vue
Labels: 🐞 bug, 📚 documentation, 💾 CLI, 🚧 chore, 🧬 Modules, 👾 React

#2972 Update imports to module syntax and add type field in package.json
  .changeset/bright-webs-shop.md
  packages/utils/log/package.json
  packages/utils/log/src/ConsoleLogger.ts
  packages/utils/log/src/Logger.interface.ts
  packages/utils/log/src/Logger.ts
  packages/utils/log/src/index.ts
  packages/utils/log/src/resolve-log-level.ts
  packages/utils/log/src/static.ts
Labels: 🚀 feature, 🛠️ utils

#2998 fix(ag-grid): update deps: ag-grid-community, ag-grid-enterprise and ag-grid-react to 33.2.4
  .changeset/fair-words-wave.md
  packages/modules/ag-grid/package.json
  packages/react/ag-grid/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 🧬 Modules, 👾 React
