Repository equinor/fusion-framework, pull requests merged in 2025-05, with the labels that each got.

#3010 Update package.json
  .changeset/chilled-cows-cheer.md
  packages/modules/context/package.json
Labels: 🧬 Modules

#3012 refactor: remove unused typesVersions from package.json files
  .changeset/four-carrots-shine.md
  packages/app/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/widget/package.json
  packages/react/ag-grid/package.json
  packages/react/app/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/signalr/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
Labels: 🛠️ utils, 🧬 Modules, 👾 React

#3014 feat: add new export for actions in fusion-observable package
  .changeset/funny-news-worry.md
  packages/utils/observable/package.json
  packages/utils/observable/src/actions.ts
Labels: 🚀 feature, 🛠️ utils

#3019 Initial release of @equinor/fusion-load-env package
  .changeset/plain-results-kiss.md
  packages/utils/load-env/README.md
  packages/utils/load-env/package.json
  packages/utils/load-env/src/env-to-object.ts
  packages/utils/load-env/src/index.ts
  packages/utils/load-env/src/load-env.ts
  packages/utils/load-env/src/object-to-env.ts
  packages/utils/load-env/src/static.ts
  packages/utils/load-env/tests/env-to-object.test.ts
  packages/utils/load-env/tests/load-env.test.ts
  packages/utils/load-env/tests/object-to-env.test.ts
  packages/utils/load-env/tsconfig.json
  packages/utils/load-env/vitest.config.ts
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🛠️ utils

#3034 Improve import resolution and support for multiple configuration files
  .changeset/all-rice-repair.md
  packages/utils/imports/package.json
  packages/utils/imports/src/error.ts
  packages/utils/imports/src/import-config.ts
  packages/utils/imports/src/import-script.ts
  packages/utils/imports/src/index.ts
  packages/utils/imports/src/resolve-config-file.ts
  packages/utils/imports/tests/import-config.test.ts
  packages/utils/imports/tests/setup.ts
  pnpm-lock.yaml
Labels: 🚀 feature, 🛠️ utils

#3029 feat(react-app): add useHelpCenter hook to programmatically open side…
  .changeset/dry-weeks-wink.md
  packages/react/app/package.json
  packages/react/app/src/help-center/README.md
  packages/react/app/src/help-center/index.ts
  packages/react/app/src/help-center/useHelpCenter.ts
Labels: 📚 documentation, 🚀 feature, 👾 React

#3041 chore: format package.json and update setup.ts to import cwd from node:process
  packages/utils/imports/package.json
  packages/utils/imports/tests/setup.ts
Labels: 🛠️ utils, 🚧 chore

#3040 feat(framework): enhance DotPath utility and config builder flexibility
  .changeset/enhance-dotpath-utility.md
  packages/modules/module/src/BaseConfigBuilder.ts
  packages/modules/module/src/configurator.ts
  packages/modules/module/src/index.ts
  packages/modules/module/src/utils/dot-path.ts
Labels: 🚀 feature, 🧬 Modules

#3038 Add support for Server-Sent Events (SSE) in HTTP module
  .changeset/sse-support-added.md
  packages/modules/http/README.md
  packages/modules/http/src/errors.ts
  packages/modules/http/src/lib/client/client.ts
  packages/modules/http/src/lib/operators/sse.operator.ts
  packages/modules/http/src/lib/selectors/sse-selector.ts
  packages/modules/http/tests/sse.selector.test.ts
Labels: 📚 documentation, 🚀 feature, 🧬 Modules

#3054 fix: re-add typesVersion in package.json files
  .changeset/smart-lights-tease.md
  packages/app/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/widget/package.json
  packages/react/ag-grid/package.json
  packages/react/app/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/signalr/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
Labels: 🐞 bug, 🛠️ utils, 🧬 Modules, 👾 React

#3052 chore(workflow): fixing typo in pre-release inputs
  .github/workflows/pre-release.yml
Labels: 🚧 chore

#3057 Update typesVersions in package.json for better type resolution
  .changeset/clear-keys-begin.md
  packages/modules/ag-grid/package.json
  packages/modules/context/package.json
  packages/modules/event/package.json
  packages/modules/module/package.json
  packages/modules/navigation/package.json
  packages/utils/observable/package.json
Labels: 🐞 bug, 🛠️ utils, 🧬 Modules

#3056 feat(msal-node): add MSAL Node module for Azure AD authentication
  .changeset/new-msal-node-module.md
  packages/modules/msal-node/README.md
  packages/modules/msal-node/package.json
  packages/modules/msal-node/src/AuthConfigurator.interface.ts
  packages/modules/msal-node/src/AuthConfigurator.ts
  packages/modules/msal-node/src/AuthProvider.interface.ts
  packages/modules/msal-node/src/AuthProvider.ts
  packages/modules/msal-node/src/AuthProviderInteractive.ts
  packages/modules/msal-node/src/AuthTokenProvider.ts
  packages/modules/msal-node/src/create-auth-cache.ts
  packages/modules/msal-node/src/create-auth-client.ts
  packages/modules/msal-node/src/create-auth-server.ts
  packages/modules/msal-node/src/enable-module.ts
  packages/modules/msal-node/src/error.ts
  packages/modules/msal-node/src/index.ts
  packages/modules/msal-node/src/module.ts
  packages/modules/msal-node/tsconfig.json
  pnpm-lock.yaml
Labels: 📚 documentation, 🚀 feature, 🧬 Modules

#3060 fix(react-app): add comments to the `useHelpCenter` hook
  .changeset/twenty-beers-study.md
  packages/react/app/src/help-center/useHelpCenter.ts
Labels: 🐞 bug, 👾 React
