Repository equinor/fusion-framework, pull requests merged in 2025-09, with the labels that each got.

#3322 fix(useHelpCenter): openReleaseNotes
  .changeset/thick-swans-divide.md
  packages/react/app/src/help-center/useHelpCenter.ts
Labels: 🐞 bug, 👾 React

#3330 refactor(dev-server): move vite-tsconfig-paths responsibility to CLI
  .changeset/cli-vite-config-refactor.md
  .changeset/dev-server-removed-tsconfig-paths.md
  packages/cli/package.json
  packages/cli/src/bin/app-dev.ts
  packages/cli/src/bin/helpers/load-vite-config.ts
  packages/cli/src/bin/portal-dev.ts
  packages/dev-server/package.json
  packages/dev-server/src/create-dev-server-config.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI

#3371 feat: add specify framework for development workflow automation
  .cursor/commands/plan.md
  .cursor/commands/specify.md
  .cursor/commands/tasks.md
  .cursor/rules/spec-sync.mdc
  .github/prompts/plan.prompt.md
  .github/prompts/specify.prompt.md
  .github/prompts/tasks.prompt.md
  .specify/memory/constitution.md
  .specify/memory/constitution_update_checklist.md
  .specify/scripts/bash/check-task-prerequisites.sh
  .specify/scripts/bash/common.sh
  .specify/scripts/bash/create-new-feature.sh
  .specify/scripts/bash/get-feature-paths.sh
  .specify/scripts/bash/setup-plan.sh
  .specify/scripts/bash/update-agent-context.sh
  .specify/templates/agent-file-template.md
  .specify/templates/plan-template.md
  .specify/templates/spec-template.md
  .specify/templates/tasks-template.md
Labels: 🐞 bug, 🚀 feature, 🚧 chore

#3384 fix(module): remove @internal tags from utility types referenced by public APIs
  .changeset/module_fixed-missing-type-definitions.md
  packages/modules/module/src/types.ts
Labels: 🐞 bug, 🧬 Modules

#3386 feat(app): add 'template-app' to AppType union
  .changeset/module-app_added-template-app-type.md
  packages/modules/app/src/types.ts
Labels: 🚀 feature, 🧬 Modules

#3367 fix(app): add `landing-page` to union of `AppType`
  .changeset/cold-rabbits-tickle.md
  packages/modules/app/src/types.ts
Labels: 🐞 bug, 🧬 Modules

#3406 Potential fix for code scanning alert no. 30: Workflow does not contain permissions
  .github/workflows/pr-cleanup.yml
Labels: 🚧 chore

#3407 Potential fix for code scanning alert no. 20: Workflow does not contain permissions
  .github/workflows/pre-release.yml
Labels: 🚧 chore

#3412 fix: add missing actions: write permission for ci-completed workflow
  .github/workflows/ci-completed.yml
Labels: 🐞 bug, 🚧 chore

#3413 fix: add missing write permissions for pre-release workflow
  .github/workflows/pre-release.yml
Labels: 🐞 bug, 🚧 chore

#3414 fix: add missing actions: write permission for pr-cleanup workflow
  .github/workflows/pr-cleanup.yml
Labels: 🐞 bug, 🚧 chore

#3394 feat: migrate to zod v4
  .changeset/cli_zod-v4-update.md
  .changeset/module-app_zod-v4-update.md
  .changeset/module-bookmark_zod-v4-update.md
  .changeset/module-http_zod-v4-update.md
  .changeset/module-msal_zod-v4-update.md
  .changeset/module-service-discovery_zod-v4-update.md
  .changeset/module-services_zod-v4-update.md
  packages/cli/package.json
  packages/cli/src/lib/app/schemas.ts
  packages/cli/src/lib/portal/load-portal-manifest.ts
  packages/cli/src/lib/portal/portal-manifest.schema.ts
  packages/modules/app/package.json
  packages/modules/app/src/schemas.ts
  packages/modules/bookmark/package.json
  packages/modules/bookmark/src/BookmarkConfigurator.ts
  packages/modules/bookmark/src/BookmarkProvider.ts
  packages/modules/bookmark/src/bookmark-config.schema.ts
  packages/modules/bookmark/src/bookmark.schemas.ts
  packages/modules/bookmark/src/types.ts
  packages/modules/http/package.json
  packages/modules/http/src/lib/operators/capitalize-request-method.operator.ts
  packages/modules/http/src/lib/operators/fetch-request.schema.ts
  packages/modules/msal/package.json
  packages/modules/service-discovery/package.json
  packages/modules/services/package.json
  packages/modules/services/src/bookmarks/client.ts
  packages/modules/services/src/bookmarks/endpoints/bookmark.get.ts
  packages/modules/services/src/bookmarks/endpoints/bookmark.patch.ts
  packages/modules/services/src/bookmarks/endpoints/bookmark.post.ts
  packages/modules/services/src/bookmarks/endpoints/user-bookmarks.get.ts
  packages/modules/services/src/bookmarks/schemas.ts
  packages/modules/services/src/utils.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 🚀 feature, 💾 CLI, 🧨 breaking changes, 🚧 chore, 🧬 Modules

#3418 docs: improve publish command documentation clarity
  .changeset/cli_improve-publish-docs.md
  packages/cli/docs/application.md
  packages/cli/docs/portal.md
  packages/cli/src/cli/commands/app/publish.ts
  packages/cli/src/cli/commands/portal/publish.ts
Labels: 📚 documentation, ✨ improvement, 💾 CLI, 🚧 chore

#3443 fix: resolve issues for OPTIONS requests in dev server
  .changeset/dev-server_fix-options-cors-headers.md
  packages/dev-server/src/create-dev-server-config.ts
Labels: 🐞 bug

#3450 chore(workflows): add `--frozen-lockfile` to `pnpm install`
  .github/workflows/actions/node-setup/action.yml
Labels: 🚧 chore

#3463 fix(cli): respect explicit HTTPS protocol selection
  .changeset/cli-git-protocol-fix.md
  packages/cli/src/bin/helpers/ProjectTemplateRepository.ts
Labels: 🐞 bug, 💾 CLI

#3471 fix(dev-portal): re-add support for custom context path extraction and generation
  .changeset/beige-sloths-judge.md
  packages/dev-portal/src/useAppContextNavigation.ts
Labels: 🐞 bug
