Repository equinor/fusion-framework, pull requests merged in 2025-02, with the labels that each got.

#2791 Fic/cli/deps/fusion wc person
  .changeset/sixty-numbers-sing.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI, 🚧 chore, 👾 React

#2781 Fix/cli/deps/context selector/searchable dropdown
  .changeset/tasty-starfishes-swim.md
  packages/cli/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI, 🚧 chore

#2801 Fix/deps/fwc person/update
  .changeset/shaggy-plants-change.md
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 💾 CLI, 🚧 chore, 👾 React

#2823 refactor: remove unused theme properties from fusionTheme
  .changeset/breezy-buses-compare.md
  packages/modules/ag-grid/src/themes.ts
Labels: 🧬 Modules

#2827 fix: update peer dependencies
  .changeset/fair-cameras-shake.md
  packages/app/package.json
  packages/react/components/bookmark/package.json
  pnpm-lock.yaml
Labels: 🐞 bug, 🚧 chore, 👾 React

#2814 Enhance MSAL Integration and Update Configurations Across Fusion Framework Packages
  .changeset/breezy-buckets-ring.md
  .changeset/five-pets-design.md
  .changeset/hot-ducks-mix.md
  .changeset/neat-seahorses-sip.md
  .changeset/orange-eggs-dress.md
  .changeset/silent-coats-yell.md
  .changeset/smart-dodos-applaud.md
  .github/workflows/actions/changeset-snapshot/action.yml
  .github/workflows/actions/changeset-snapshot/create-pre-release-changeset.sh
  cookbooks/app-react-bookmark/app.manifest.config.ts
  cookbooks/app-react-bookmark/package.json
  packages/app/src/AppConfigurator.ts
  packages/cli/src/bin/dev-portal/config.ts
  packages/framework/src/FrameworkConfigurator.ts
  packages/modules/msal/README.md
  packages/modules/msal/TODO.md
  packages/modules/msal/package.json
  packages/modules/msal/src/configurator.ts
  packages/modules/msal/src/index.ts
  packages/modules/msal/src/module.ts
  packages/modules/msal/src/provider.ts
  packages/modules/msal/src/resolve-version.ts
  packages/modules/msal/src/static.ts
  packages/modules/msal/src/types.ts
  packages/modules/msal/src/v2/client/behavior.ts
  packages/modules/msal/src/v2/client/client.ts
  packages/modules/msal/src/v2/client/create-auth-client.ts
  packages/modules/msal/src/v2/client/index.ts
  packages/modules/msal/src/v2/client/log/console.ts
  packages/modules/msal/src/v2/client/request.ts
  packages/modules/msal/src/v2/client/util/browser.ts
  packages/modules/msal/src/v2/client/util/url.ts
  packages/modules/msal/src/v2/configurator.ts
  packages/modules/msal/src/v2/index.ts
  packages/modules/msal/src/v2/provider.ts
  packages/modules/msal/src/v2/types.ts
  packages/react/app/src/msal/useAccessToken.ts
  packages/react/app/src/msal/useToken.ts
  packages/react/framework/package.json
  packages/react/framework/src/hooks/use-current-user.ts
  packages/react/framework/tsconfig.json
  packages/react/legacy-interopt/src/LegacyAuthContainer.ts
  pnpm-lock.yaml
Labels: 🐞 bug, 📚 documentation, 🚀 feature, 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#2841 feat: add app manifest definition placeholder in config
  cookbooks/app-react/app.manifest.config.ts
Labels: 🚀 feature, 👨🏻‍🍳 cookbooks

#2831 fix(cli): add support for clearing context in cli
  .changeset/eleven-boats-learn.md
  packages/cli/src/bin/dev-portal/useAppContextNavigation.ts
Labels: 🐞 bug, 💾 CLI

#2850 Feat(biome): use-button-type
  .changeset/small-dragons-try.md
  biome.json
  cookbooks/app-react-ag-grid/src/App.tsx
  cookbooks/app-react-bookmark-advanced/src/Create.tsx
Labels: 👨🏻‍🍳 cookbooks

#2851 fix: add alt text to image tags for improved accessibility
  .changeset/legal-masks-return.md
  .changeset/thick-rabbits-film.md
  biome.json
  cookbooks/app-react-assets/src/App.tsx
  packages/cli/src/bin/dev-portal/FusionLogo.tsx
  packages/cli/src/bin/dev-portal/PersonSideSheet/sheets/LandingSheetContent.tsx
Labels: 🐞 bug, 💾 CLI, 👨🏻‍🍳 cookbooks

#2852 refactor: replace forEach with for-of loops for better readability
  .changeset/big-monkeys-end.md
  biome.json
  packages/cli/src/bin/bundle-application.ts
  packages/cli/src/lib/utils/config.ts
  packages/modules/app/src/AppConfig.ts
  packages/modules/feature-flag/src/FeatureFlagProvider.reducer.ts
  packages/modules/feature-flag/src/FeatureFlagProvider.ts
  packages/modules/feature-flag/src/utils/storage/StorageAdapter.ts
  packages/modules/http/src/lib/operators/capitalize-request-method.operator.ts
  packages/modules/module/src/configurator.ts
  process-turbo-build-log.cjs
Labels: 💾 CLI, 🧬 Modules

#2853 refactor: remove unnecessary React fragments from PeopleResolverProvider
  .changeset/hungry-laws-shop.md
  biome.json
  packages/react/components/people-resolver/src/PeopleResolverProvider.tsx
Labels: 👾 React

#2854 refactor: remove unnecessary switch cases and update function signatures for clarity
  .changeset/ready-impalas-love.md
  biome.json
  packages/modules/msal/src/v2/client/log/console.ts
  packages/modules/navigation/src/createHistory.ts
  packages/modules/services/src/context/get/generate-endpoint.ts
  packages/modules/services/src/context/query/generate-endpoint.ts
  packages/modules/services/src/context/related/generate-endpoint.ts
  packages/modules/services/src/notification/notification/delete/generate-endpoint.ts
  packages/modules/services/src/notification/notification/get/generate-endpoint.ts
  packages/modules/services/src/notification/notification/getAll/generate-endpoint.ts
  packages/modules/services/src/notification/notification/patch/generate-endpoint.ts
  packages/modules/services/src/notification/notification/post/generate-endpoint.ts
  packages/modules/services/src/notification/settings/get/generate-endpoint.ts
  packages/modules/services/src/notification/settings/put/generate-endpoint.ts
Labels: 🧬 Modules

#2855 refactor: Conform to Biome `linter.correctness.useExhaustiveDependencies`
  .changeset/nice-mugs-deny.md
  .changeset/shiny-regions-knock.md
  biome.json
  cookbooks/app-react-ag-grid/src/App.tsx
  cookbooks/app-react-bookmark-advanced/src/Page2.tsx
  cookbooks/app-react-bookmark-advanced/src/Provider.tsx
  cookbooks/app-react-bookmark/src/App.tsx
  cookbooks/app-react-context/src/useRelatedContext.ts
  cookbooks/app-react-people/src/pages/SelectorPage.tsx
  packages/cli/src/bin/dev-portal/AppLoader.tsx
  packages/cli/src/bin/dev-portal/ContextSelector/useContextResolver.ts
  packages/cli/src/bin/dev-portal/PersonSideSheet/index.tsx
  packages/react/app/src/create-legacy-app.tsx
  packages/react/app/src/settings/useAppSetting.ts
  packages/react/app/src/settings/useAppSettings.ts
  packages/react/components/people-resolver/src/PeopleResolver.tsx
  packages/react/legacy-interopt/src/create-legacy-render.tsx
  packages/react/modules/module/src/ModuleProvider.tsx
  packages/react/widget/src/components/BaseWidget.tsx
  packages/utils/observable/src/react/useDebounce.ts
  packages/utils/observable/src/react/useObservableState.ts
  packages/utils/observable/src/react/useObservableSubscription.ts
  packages/utils/observable/tests/react/useObservableSelector.test.ts
Labels: 🐞 bug, 💾 CLI, 🛠️ utils, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#2856 refactor: Conform to Biome `linter.correctness.noVoidTypeReturn` and remove unnecessary return statements
  .changeset/cold-animals-tease.md
  biome.json
  packages/modules/navigation/src/lib/provider/NavigationProvider.ts
  packages/modules/navigation/src/navigator.ts
Labels: 🧬 Modules

#2857 refactor: Conform to Biome `linter.performance.noDelete`
  .changeset/salty-lights-boil.md
  biome.json
  packages/utils/query/src/cache/create-reducer.ts
Labels: 🛠️ utils

#2864 chore: removed es-lint and prettier
  .node-version
  package.json
  pnpm-lock.yaml
Labels: 🚧 chore

#2865 hotfix: msal auth provider
  .changeset/odd-trees-wear.md
  packages/modules/msal/src/v2/provider.ts
Labels: 🧬 Modules

#2867 chore: bump typescript
  .changeset/huge-signs-doubt.md
  cookbooks/app-react-ag-grid/package.json
  cookbooks/app-react-assets/package.json
  cookbooks/app-react-bookmark-advanced/package.json
  cookbooks/app-react-bookmark/package.json
  cookbooks/app-react-context-custom-error/package.json
  cookbooks/app-react-context/package.json
  cookbooks/app-react-environment-variables/package.json
  cookbooks/app-react-feature-flag/package.json
  cookbooks/app-react-module/package.json
  cookbooks/app-react-msal/package.json
  cookbooks/app-react-people/package.json
  cookbooks/app-react-router/package.json
  cookbooks/app-react-settings/package.json
  cookbooks/app-react/package.json
  cookbooks/app-vanilla/package.json
  package.json
  packages/app/package.json
  packages/cli/package.json
  packages/cli/src/lib/plugins/app-assets/emit-asset.ts
  packages/framework/package.json
  packages/modules/ag-grid/package.json
  packages/modules/app/package.json
  packages/modules/bookmark/package.json
  packages/modules/context/package.json
  packages/modules/event/package.json
  packages/modules/feature-flag/package.json
  packages/modules/http/package.json
  packages/modules/module/package.json
  packages/modules/msal/package.json
  packages/modules/navigation/package.json
  packages/modules/service-discovery/package.json
  packages/modules/services/package.json
  packages/modules/signalr/package.json
  packages/modules/telemetry/package.json
  packages/modules/widget/package.json
  packages/react/ag-grid/package.json
  packages/react/app/package.json
  packages/react/components/bookmark/package.json
  packages/react/components/people-resolver/package.json
  packages/react/framework/package.json
  packages/react/legacy-interopt/package.json
  packages/react/modules/bookmark/package.json
  packages/react/modules/context/package.json
  packages/react/modules/event/package.json
  packages/react/modules/http/package.json
  packages/react/modules/module/package.json
  packages/react/modules/signalr/package.json
  packages/react/widget/package.json
  packages/utils/log/package.json
  packages/utils/observable/package.json
  packages/utils/query/package.json
  packages/widget/package.json
  pnpm-lock.yaml
  vue-press/package.json
Labels: 💾 CLI, 🛠️ utils, 🚧 chore, 👨🏻‍🍳 cookbooks, 🧬 Modules, 👾 React

#2874 Add linting and formatting scripts for staged files
  package.json
Labels: 🚧 chore

#2873 Fix theme cloning issue by copying parts to new theme
  .changeset/rude-mugs-dream.md
  packages/modules/ag-grid/src/themes.ts
Labels: 🐞 bug, 🧬 Modules

#2877 Update package versions for fusion components
  .changeset/empty-roses-hang.md
  cookbooks/app-react-people/package.json
  packages/cli/package.json
  packages/react/components/people-resolver/package.json
  pnpm-lock.yaml
Labels: 💾 CLI, 🚧 chore, 👨🏻‍🍳 cookbooks, 👾 React
